<div *ngIf="project; else loading" class="app-page">
  <section>
    <df-expander-panel
      title="Project - {{ project.name }}"
      [expanded]="true"
      [expandable]="false"
    >
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <dl>
        <dt>
          Name:
        </dt>
        <dd>
          {{ project.name }}
        </dd>
        <dt>
          Notes:
        </dt>
        <dd>
          {{ project.notes }}
        </dd>
        <dt>
          External id:
        </dt>
        <dd>
          {{ project.externalId }}
        </dd>
        <dt>
          Status:
        </dt>
        <dd>
          {{ project.status }}
        </dd>
        <dt>
          Program Submission Date:
        </dt>
        <dd>
          {{ project.programSubmission.timeStamp }}
        </dd>
        <dt>
          Data Date:
        </dt>
        <dd>
          {{ project.programSubmission.dataDate }}
        </dd>
      </dl>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
