<div *ngIf="project; else loading" class="app-page">
  <section>
    <df-expander-panel
      title="Project - {{ project.name }}"
      [expanded]="true"
      [expandable]="false"
    >
      <ng-container panel-buttons>
        <df-button
          icon="edit"
          title="Edit"
          (onClick)="handleEditProject(project)"
        ></df-button>
        <df-button
          icon="delete"
          title="Delete"
          (onClick)="handleDeleteProject(project)"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <p>{{ project.name }}</p>
      <p>{{ project.notes }}</p>
      <p>{{ project.externalId }}</p>
      <p>{{ project.status }}</p>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
