/* You can add global styles to this file, and also import other style files */
@import '../../../libs/df-theme/styles.scss';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.programsadmin-layout__row {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display: flex;
  flex-direction: column;
}

.app-page {
  padding-left: 0px;
  overflow-y: auto;
}

.app-print-wrapper {
  padding: 15px;
}

p {
  margin: 12px 10px;
}

.form-layout__row {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;

  .mdc-text-field,
  .mdc-select {
    flex-grow: 1;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.mdc-drawer-app-content {
  width: auto;
}

.form-content {
  margin: 15px;
  border: none;
}

.fileToUpload {
  display: none;
}

.field-name {
  width: 75px;
  margin: 25px;
  font-weight: 200;
  color: #fff;
  background-color: #515459;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: right;
}

.app-layout-title-version {
  padding-right: 8px;
  font-size: smaller;
}

.ngx-datatable.material .empty-row {
  text-align: center;
}

df-button {
  min-width: 10px !important;
  margin-right: 10px !important;
}

dl {
  display: flex;
  flex-flow: row wrap;
}
dt {
  flex-basis: 10%;
  margin-left: 4px;
  padding: 4px 4px;
  font-style: italic;
  text-align: left;
}
dd {
  flex-basis: 80%;
  flex-grow: 1;
  margin: 0;
  padding: 4px 4px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.mdc-top-app-bar__action-item,
.mdc-top-app-bar__navigation-icon {
  display: none;
}
