.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  > #zoom {
    flex: 0.8;
    margin: 0 25px 10px;
    padding-top: 20px;
    scroll-behavior: auto;
    > .zoomLabels {
      left: -10%;
      text-align: center;
      position: relative;
      white-space: nowrap;
      > label {
        width: 20%;
        display: inline-block;
      }
    }
  }

  > #planerButtons {
    flex: 0.2;
    display: flex;
    padding-right: 20px;
    > button {
      flex: 1;
      margin: 10px;
    }
  }
}

.b-sch-timerange label {
  background: #fff;
  white-space: nowrap;
  padding: 4px;
  font-weight: 500;
}

@mixin timerange-transparent($color) {
  background-color: $color;
  color: black;
  opacity: 0.5;
}

@mixin timerange-striped($color) {
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 46%, $color 49%, $color 51%, rgba(0, 0, 0, 0) 55%);
  background-size: 6px 6px;
  color: $color;
}

.b-sch-timerange {
  &.timerange-sitting-senate {
    @include timerange-transparent($color: #ffd7d7);
  }
  &.timerange-sitting-house {
    @include timerange-transparent($color: #d8fbd8);
  }
  &.timerange-sitting-both {
    @include timerange-transparent($color: #d4eeff);
  }
}

.b-sch-event {
  &.milestone {
    position: absolute;
    left: 0;
    content: " ";
    height: 0.7em;
    width: 0.7em;
    transform-origin: 0;
    transform: rotate(45deg) translateX(-50%);
    background-image: inherit;
    background-color: inherit;
    border: inherit;

    > i {
      font-size: 0.7em;
    }
  }
}

.b-watermark {
  display: none !important;
}

.b-grid.b-timelinebase.b-scheduler,
#scheduler-container {
  width: calc(100vw - 300px);
}

.b-grid-body-container.b-widget-scroller {
  height: calc(100vh - 440px) !important;
}

.mdc-slider__pin-value-marker {
  display: none;
}

.mdc-slider__track-marker::after,
.mdc-slider__track-marker-container::after {
  height: 10px;
}

.mdc-slider__track-container {
  overflow: visible;
}
