<div class="flex-container">
  <div id="zoom">
    <mdc-slider
      #slider
      markers
      discrete
      [min]="zoomSlider.min"
      [max]="zoomSlider.max"
      [step]="1"
      [value]="zoomSlider.levelId"
      (input)="onSliderInput($event)"
    ></mdc-slider>
    <div class="zoomLabels">
      <label *ngFor="let zoomLevel of zoomLevels">
        {{ zoomLevel.label }}
      </label>
    </div>
  </div>
  <div id="planerButtons">
    <!-- <button mdc-button outlined (click)="scrollToDate(today)">Today</button> -->
    <mdc-form-field fluid>
      <ng-select
        appendTo="body"
        [items]="externalEventTypes"
        bindValue="id"
        bindLabel="name"
        placeholder="Select Key Date Type"
        [multiple]="true"
        (change)="handleChangeExternalType($event)"
        [clearable]="false"
        [hideSelected]="true"
        [virtualScroll]="true"
        [(ngModel)]="selectedExternalEventTypes"
      >
      </ng-select>
    </mdc-form-field>
  </div>
</div>

<div id="scheduler-container">
  <scheduler
    #scheduler
    [rowHeight]="50"
    [events]="events"
    [startDate]="startDate"
    [endDate]="endDate"
    [resources]="commitments"
    [barMargin]="10"
    [columns]="columns"
    [featureConfig]="featureConfig"
    [timeRanges]="externalEvents"
    [eventRenderer]="eventRenderer"
    [zoomLevels]="zoomLevels"
    [zoomLevel]="currentZoomLevel.id"
    [listeners]="listeners"
    [readOnly]="readOnly"
    eventColor="green"
    eventStyle="border"
  ></scheduler>
</div>
