<div class="flex-container">
  <div id="zoom">
    <mdc-slider
      #slider
      markers
      discrete
      [min]="0"
      [max]="zoomSliderMax"
      [step]="1"
      [value]="zoomLevel"
      (input)="onSliderInput($event)"
    ></mdc-slider>
    <div class="zoomLabels">
      <label *ngFor="let zoomLevel of zoomLevels">
        {{ zoomLevel.label }}
      </label>
    </div>
  </div>
  <div class="planerButtons">
    <button mdc-button outlined (click)="scrollToDate(today)">Today</button>
  </div>
  <div class="planerMenus" mdcMenuSurfaceAnchor #externalEventsAnchor>
    <button
      mdc-button
      outlined
      (click)="dfExternalEvents.open = !dfExternalEvents.open"
    >
      Select Key Date Types
    </button>
    <mdc-menu-surface style="min-width: 250px" #dfExternalEvents [anchorElement]="externalEventsAnchor">
      <div class="buttons">
        <button mdc-button (click)="handelSelectAllExternalEvents(true)">
          Select all
        </button>
        <button mdc-button (click)="handelSelectAllExternalEvents(false)">
          Clear
        </button>
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list class="mdc-list mdc-list--dense">
        <mdc-list-item class='external-event-type-item' *ngFor="let type of externalEventTypes; trackBy:trackByExternalTypeId"
          ><mdc-form-field>
            <mdc-checkbox
              [value]="type.id"
              [checked]="checkIfExternalTypeSelected(type.id)"
              (change)="externalEventTypeChange.next($event)"
            ></mdc-checkbox>
            <label>{{ type.name }}</label>
          </mdc-form-field></mdc-list-item
        >
      </mdc-list>
    </mdc-menu-surface>
  </div>
</div>

<div id="scheduler-container">
  <scheduler
    #scheduler
    [rowHeight]="50"
    [events]="events"
    [startDate]="startDate"
    [endDate]="endDate"
    [resources]="commitments"
    [barMargin]="10"
    [columns]="columns"
    [featureConfig]="featureConfig"
    [timeRanges]="externalEvents"
    [eventRenderer]="eventRenderer"
    [zoomLevels]="zoomLevels"
    [zoomLevel]="zoomLevel"
    [listeners]="listeners"
    [readonly]="readonly"
    [centerDate] = "centerDate"
    eventColor="green"
    eventStyle="border"
  ></scheduler>
</div>
