<div class="page_title">
  <div class="reader-card-article__title page_title_text" mdcHeadline5>
    Edit role
  </div>
</div>
<div>
  <div class="app-page">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner ">
        <div class="mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell--span-6 mdc-elevation--z9">
          <div class="form-content">
            <form
              (ngSubmit)="onSubmit()"
              autocomplete="off"
              [formGroup]="editRoleForm"
            >
              <fieldset>
                <h3 class="form-content__headline">Edit role</h3>
                <div class="form-layout__row">
                  <mdc-text-field
                    [outlined]="true"
                    formControlName="roleTitle"
                    label="Title"
                    type="text"
                  >
                  </mdc-text-field>
                </div>

                <div class="form-layout__row">
                  <mdc-textarea
                    formControlName="description"
                    name="description"
                    id="description"
                    cols="8"
                    rows="3"
                    label="Description"
                    spellcheck="true"
                  >
                  </mdc-textarea>
                </div>

                <div class="form-layout__row">
                  <div class="role-wrapper">
                    <div class="row">
                      <div class="column">
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="adminLogin"
                          ></mdc-checkbox>
                          <label>Admin Login</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="allAgencyModifier"
                          ></mdc-checkbox>
                          <label>All Agency Modifier</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="allowMessagePassThrough"
                          ></mdc-checkbox>
                          <label>Allow Message Pass Through</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="createAgency"
                          ></mdc-checkbox>
                          <label>Create Agency</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="createProgram"
                          ></mdc-checkbox>
                          <label>Create Program</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="createProject"
                          ></mdc-checkbox>
                          <label>Create Project</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="createReport"
                          ></mdc-checkbox>
                          <label>Create Report</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="createStatistic"
                          ></mdc-checkbox>
                          <label>Create Statistic</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="deleteAgency"
                          ></mdc-checkbox>
                          <label>Delete Agency</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="deleteProgram"
                          ></mdc-checkbox>
                          <label>Delete Program</label>
                        </mdc-form-field>
                      </div>
                      <div class="column">
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="deleteProject"
                          ></mdc-checkbox>
                          <label>Delete Project</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="deleteReport"
                          ></mdc-checkbox>
                          <label>Delete Report</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="deleteStatistic"
                          ></mdc-checkbox>
                          <label>Delete Statistic</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="manageApiKeys"
                          ></mdc-checkbox>
                          <label>Manage Api Keys</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="manageGroups"
                          ></mdc-checkbox>
                          <label>Manage Groups</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="manageAccessControls"
                          ></mdc-checkbox>
                          <label>Manage Access Controls</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="updateBriefCommitments"
                          ></mdc-checkbox>
                          <label>Update Brief Commitments</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="updateCommitments"
                          ></mdc-checkbox>
                          <label>Update Commitments</label>
                        </mdc-form-field>
                        <mdc-form-field>
                          <mdc-checkbox
                            formControlName="updateElectorateAdvice"
                          ></mdc-checkbox>
                          <label>Update Electorate Advice</label>
                        </mdc-form-field>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-layout__row-with-button">
                  <button
                    id="submit"
                    class="mdc-button ng-mdc-button--primary mdc-button--raised mdc-ripple-upgraded"
                    type="submit"
                    [disabled]="editRoleForm.invalid || editRoleForm.pristine"
                  >
                    Save
                  </button>
                  <button
                    id="cancel"
                    class="mdc-button ng-mdc-button--secondary mdc-button--raised mdc-ripple-upgraded"
                    type="button"
                    (click)="cancel()"
                  >
                    Cancel
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-3"></div>
      </div>
    </div>
  </div>
</div>
