<div *ngIf="briefHtml$ | async as html" [innerHtml]="html | safeHtml"></div>
<div *ngIf="error$ | async as error">
  <div [ngSwitch]="error.status">
    <mdc-card class="form-card" *ngSwitchCase="404">
      <div>
        <div mdcBody2 class="form-section">
          <h3>Document could not be located</h3>
          <div class="form-row">
            <p>{{ error.message }}</p>
          </div>
        </div>
      </div>
    </mdc-card>

    <div *ngSwitchDefault>
      <h3>An Error Occured</h3>
      <p>
        {{ error.message }} <br />
        {{ error.status }} <br />
        {{ error.statusText }}
      </p>
    </div>
  </div>
</div>
