<mdc-card class="form-card" *ngIf="brief$ | async as brief">
  <div>
    <div mdcBody2 class="form-section">
      <h3>Recommended Direction and Actions</h3>
      <div class="form-row">
        <p>
          Goat smelly cheese cheese and biscuits. Cheesecake cheesecake pepper
          jack boursin fromage hard cheese camembert de normandie cheesecake.
          Rubber cheese goat melted cheese cow squirty cheese mascarpone
          everyone loves pepper jack. Caerphilly everyone loves queso
          dolcelatte.
        </p>
      </div>
    </div>
  </div>
</mdc-card>
