<div *ngIf="brief$ | async as brief">
  <mdc-card class="form-card" *ngIf="brief.recommendedDirection || brief.recommendations">
    <div mdcBody2 class="form-section">
      <div class="form-row" *ngIf="brief.recommendedDirection">
        <div [innerHtml]="brief.recommendedDirection | safeHtml"></div>
      </div>

      <div class="recommendations" *ngIf="brief.recommendations">
        <h3>Recommendations</h3>
        <div class="recommendation" *ngFor="let recommendation of brief.recommendations">
          <digital-first-brief-recommendation-response [recommendation]="recommendation">
          </digital-first-brief-recommendation-response>
        </div>
      </div>
    </div>
  </mdc-card>
</div>
