<mdc-card *ngIf="commitment" class="commitment-card" outlined [ngStyle]="getPartyStyle(commitment)">
    <mdc-card-primary-action>
        <div class="commitment-card__detail-row">
            <div class="commitment-card__detail-info">
                <div class="commitment-card__detail-title" mdcHeadline5>{{commitment.title}}</div>
                <div class="commitment-card__detail-title" mdcHeadline6>{{commitment.party?.title}}</div>

                <div class="commitment-card__detail-announcedby" mdcBody2>{{commitment.announcedby}}</div>
                <div class="commitment-card__detail-date" mdcBody2>{{commitment.date | amDateFormat:'LL' }}</div>
                <div class="commitment-card__detail-type" mdcBody2>{{commitment.location?.title}} &middot;
                    {{commitment.announcementType?.title}}</div>
                <div class="commitment-card__detail-portfolio" mdcBody2>{{commitment.portfolio?.title}}</div>
            </div>
        </div>
    </mdc-card-primary-action>
    <mdc-ripple class="app-card-article" *ngIf="commitment.description">
        <p class="app-card-article__snippet" mdcBody2 [innerHtml]="commitment.description | safeHtml"></p>
    </mdc-ripple>

</mdc-card>