<mdc-card *ngIf="commitment" class="commitment-card" outlined [ngStyle]="getPartyStyle(commitment)">
    <mdc-card-primary-action>
        <div class="commitment-card__detail-row">
            <div class="commitment-card__detail-info">
                <!-- <div class="commitment-card__detail-title" mdcHeadline5>Commitment</div> -->
                <div mdcHeadline6>{{commitment.title}}</div>
                <div mdcBody2>Announced by <strong>{{commitment.announcedby}}</strong> on <strong>{{commitment.date | amDateFormat:'LL' }}</strong> for <strong>{{commitment.party?.title}}</strong> as a <strong>{{commitment.announcementType?.title}}</strong> by <strong>{{commitment.whoAnnouncedType?.title}}</strong> to be delivered in <strong>{{commitment.criticalDate?.title}}</strong> </div>
            </div>
        </div>
    </mdc-card-primary-action>
    <mdc-card-primary-action>
        <div class="commitment-card__detail-row">
            <div class="commitment-card__detail-info">
                <!-- <div class="commitment-card__detail-title" mdcHeadline5>Announcement</div> -->
                <div mdcBody2 *ngIf="commitment.themeType">Theme: {{commitment.themeType?.title}}</div>
                <div mdcBody2 *ngIf="commitment.packageType">Pacakage: {{commitment.packageType?.title}}</div>
                
            </div>
        </div>
    </mdc-card-primary-action>
    <mdc-card-primary-action>
        <div class="commitment-card__detail-row">
            <div class="commitment-card__detail-info">
                <div class="commitment-card__detail-title" mdcHeadline6>Responsibility</div>
                <div mdcBody2><strong>{{commitment.portfolio?.title}}</strong></div>
            </div>
        </div>
    </mdc-card-primary-action>
    <mdc-card-primary-action *ngIf="commitment.description">
        <div class="commitment-card__detail-row">
            <div class="commitment-card__detail-info">
                <div class="commitment-card__detail-title" mdcHeadline6>Description</div>
                <p mdcBody2 [innerHtml]="commitment.description | safeHtml"></p>
            </div>
        </div>
    </mdc-card-primary-action>

</mdc-card>