/* You can add global styles to this file, and also import other style files */
@import "../../../libs/df-theme/styles.scss";
@import "~@swimlane/ngx-datatable/release/index.css";
@import "~@swimlane/ngx-datatable/release/themes/material.css";
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.app-page {

  padding-bottom: 45px;
  padding-left: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: calc(100vh - 110px);
  padding-left: 0px;
}

ngx-wig {
    flex-grow: 1;
    margin-left: .3em;
    margin-right: .3em;
}

.ngx-datatable {
  text-align: left;
  margin: 0 0;
}

.ngx-datatable.scroll-vertical {
  height: 70vh;
}

.active-status-chip {
  background-color: rgb(142, 236, 118);
  color: rgb(6, 75, 23);
}