<div class="page">
  <section [mdcElevation]="5">
    <digital-first-planner
      *ngIf="(eventTypes$ | async)?.length > 0 || (readonly$ | async)"
      [commitments]="filteredCommitments$ | async"
      [events]="commitmentEvents$ | async"
      [eventTypes]="eventTypes$ | async"
      [externalEvents]="externalEvents$ | async"
      [externalEventTypes]="externalEventTypes$ | async"
      [selectedExternalEventTypes]="selectedExternalEventTypes$ | async"
      [readonly]="readonly$ | async"
      [zoomLevel]="zoomLevel$ | async"
      [centerDate]="centerDate$ | async"
      (onEventSaved)="handleEventSaved($event)"
      (onEventRemoved)="handleEventRemoved($event)"
      (onExternalEventTypeChange)="handleExternalEventChange($event)"
      (onZoomLevelChange)="handelZoomLevelChange($event)"
    >
    </digital-first-planner>
  </section>
</div>
