<div class="page">
  <section [mdcElevation]="5">
    <digital-first-planner
      [commitments]="filteredCommitments$ | async"
      [events]="commitmentEvents$ | async"
      [commitmentEventTypes]="commitmentEventTypes$ | async"
      [externalEvents]="externalEvents$ | async"
      [externalEventTypes]="externalEventTypes$ | async"
      [selectedExternalEventTypes]="selectedExternalEventTypes$ | async"
      [readOnly]="readOnly$ | async"
      [zoomLevel]="zoomLevel$ | async"
      [centerDate]="centerDate$ | async"
      (onEventSaved)="handleEventSaved($event)"
      (onEventRemoved)="handleEventRemoved($event)"
      (onExternalEventTypeChange)="handleExternalEventChange($event)"
      (onZoomLevelChange)="handelZoomLevelChange($event)"
    >
    </digital-first-planner>
  </section>
</div>
