<df-expander-panel title="Users" [expanded]="true" [expandable]="false">
  <ng-container panel-buttons>
    <df-button
      icon="people_outline"
      title="Assign&nbsp;User"
      (onClick)="handleAddClicked($event)"
    ></df-button>
  </ng-container>
</df-expander-panel>

<div class="programsadmin-layout__row">
  <df-data-table
    [rows]="members"
    [columns]="columns"
    [count]="members.length"
    [hasDelete]="true"
    [limit]="defaultPageLength"
    (onSelect)="handleUserNavigation($event)"
    (onDelete)="handleTableDeleteClicked($event)"
  >
  </df-data-table>
</div>
