<df-expander-panel title="Users" [expanded]="true" [expandable]="false">
  <ng-container panel-buttons>
    <df-button
      icon="people_outline"
      title="Assign&nbsp;User"
      (onClick)="handleAddClicked($event)"
    ></df-button>
  </ng-container>
</df-expander-panel>

<div class="programsadmin-layout__row">
  <digital-first-data-table
    [hasDeleteItemButton]="true"
    [tableData]="userTableConfig"
    [tableRows]="userTableRows"
    (onDeleteItem)="handleTableDeleteClicked($event)"
    (onCellClicked)="onCellClicked.emit($event)"
  >
  </digital-first-data-table>
</div>
