<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3"></div>
    <div class="mdc-layout-grid__cell--span-6">
      <div *ngIf="routeParams?.error">
        <h1>An error has occurred</h1>
        <p class="breakAll">Message: {{ routeParams?.error }}</p>
        <a class="mdc-button ng-mdc-button--primary mdc-button--raised mdc-ripple-upgraded"
           [routerLink]="'/'">
          <h5>Go to Home</h5>
        </a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3"></div>
  </div>
</div>
