<div class="app-page" *ngIf="group; else loading">
  <df-expander-panel
    title="Group - {{ group.title }}"
    [expanded]="true"
    [expandable]="false"
  >
    <ng-container panel-buttons>
      <df-button
        icon="edit"
        title="Edit"
        (onClick)="handleEditGroup(group)"
      ></df-button>
      <df-button
        icon="delete"
        title="Delete"
        (onClick)="handleDeleteGroup(group)"
      ></df-button>
    </ng-container>
  </df-expander-panel>

  <digital-first-group-users
    [artifactId]="groupId"
    [tableData]="userTableData"
    (onDeleteClicked)="handleUserDeleteItemClicked($event)"
    (onCellClicked)="handleUserNavigation($event)"
  ></digital-first-group-users>
</div>
<ng-template #loading>
  Loading...
</ng-template>
