<div class="app-page" *ngIf="group; else loading">
  <digital-first-page-title title="Group - {{ group.title }}">
    <digital-first-edit-item-button
      (onEditItem)="handleEditGroup(group)"
    ></digital-first-edit-item-button>
    <digital-first-delete-item-button
      (onDeleteItem)="handleDeleteGroup(group)"
    ></digital-first-delete-item-button>
  </digital-first-page-title>
  <digital-first-group-users
    [artifactId]="groupId"
    [tableData]="userTableData"
    (onDeleteClicked)="handleUserDeleteItemClicked($event)"
    (onCellClicked)="handleUserNavigation($event)"
  ></digital-first-group-users>
</div>
<ng-template #loading>
  Loading...
</ng-template>
