
.idea/.idea.DF-Client/.idea/contentModel.xml
.idea/.idea.DF-Client/.idea/indexLayout.xml
.idea/.idea.DF-Client/.idea/modules.xml
.idea/.idea.DF-Client/.idea/vcs.xml
.idea/.idea.DF-Client/.idea/workspace.xml
.idea/.idea.DF-Client/riderModule.iml
