<div *ngIf="agency; else loading" class="app-page">
  <section>
    <df-expander-panel
      title="Agency - {{ agency.title }}"
      [expanded]="true"
      [expandable]="false"
    >
      <ng-container panel-buttons>
        <df-button
          icon="edit"
          title="Edit"
          (onClick)="handleEditAgency(agency)"
        ></df-button>
        <df-button
          icon="delete"
          title="Delete"
          (onClick)="handleDeleteAgency(agency)"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <dl>
        <dt>
          Agency:
        </dt>
        <dd>
          {{ agency.title }}
        </dd>
        <dt>
          Portfolio:
        </dt>
        <dd>
          {{ agency.portfolio.title }}
        </dd>
        <dt *ngIf="agency.metadata">
          Metadata:
        </dt>
        <dd *ngIf="agency.metadata">
          {{ agency.metadata }}
        </dd>
      </dl>
    </div>
  </section>

  <section>
    <df-expander-panel
      title="Agency/Group mapping"
      [expanded]="true"
      [expandable]="false"
    >
      <ng-container panel-buttons>
        <df-button
          icon="add"
          title="Add"
          (onClick)="handleAddAgencyMapping(agency)"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <df-data-table
        [rows]="agencyAndGroupMappings"
        [columns]="columns"
        [count]="agencyAndGroupMappings.length"
        [hasDelete]="true"
        [limit]="defaultPageLength"
        [messages]="emptyTableMessage"
        (onSelect)="handleEditAgencyMapping($event)"
        (onDelete)="handleDeleteAgencyMapping($event)"
      >
      </df-data-table>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
