<div *ngIf="agency; else loading" class="app-page">
    <section>
      <digital-first-page-title
        title="Agency - {{ agency.title }}">
        <digital-first-edit-item-button
          (onEditItem)="handleEditAgency(agency)"
        ></digital-first-edit-item-button>
        <digital-first-delete-item-button
          (onDeleteItem)="handleDeleteAgency(agency)"
        ></digital-first-delete-item-button>
      </digital-first-page-title>
  
      <div class="programsadmin-layout__row">
        <p>Title: {{ agency.title }}</p>
        <p>Metadata: {{ agency.metadata }}</p>
        <p>Portfolio: {{ agency.portfolio.title }}</p>
      </div>
  
    </section>

    <section>
        <digital-first-page-title
        title="Group mapping">
        <digital-first-add-item-button
          (onAddItem)="handleAddAgencyMapping(agency)"
        ></digital-first-add-item-button>

      </digital-first-page-title>
  
      <div *ngIf="agency.agencyMapping;"  class="programsadmin-layout__row">
        <div *ngFor="let agencyMapping of agency.agencyMapping">
          <p>Email domain: {{agencyMapping.emailDomain}}</p>
          <p>Group: {{agencyMapping.accessControlGroup.title}}</p>
       <digital-first-edit-item-button
        (onEditItem)="handleEditAgencyMapping(agencyMapping.id)"
      ></digital-first-edit-item-button><digital-first-delete-item-button
      (onDeleteItem)="handleDeleteAgencyMapping(agencyMapping.id)"
    ></digital-first-delete-item-button>
        </div>
      </div>
  
    </section>


  </div>
  <ng-template #loading>
    Loading...
  </ng-template>
  