<div class="page_title">
  <div class="reader-card-article__title page_title_text" mdcHeadline5>
    Projects
  </div>
</div>

<div class="form-content">
  <div *ngIf="filterProjects$; else loading" class="app-page">
    <div class="form-content">
      <div class="form-layout__row">
        <df-data-table
          [hasFilter]="true"
          [rows]="filterProjects$ | async"
          [limit]="10"
          [columns]="columns"
          (onSelect)="handleSelect($event)"
          (onFilter)="handleFilter($event)"
        >
        </df-data-table>
      </div>
    </div>
  </div>

  <ng-template #loading>
    Loading...
  </ng-template>
</div>
