<div class="page_title">
  <div class="reader-card-article__title page_title_text" mdcHeadline5>
    Projects
  </div>
</div>

<div class="app-page">
  <div class="form-content">
    <div class="form-layout__row">
      <form (ngSubmit)="doSearch()" [formGroup]="projectSearchForm">
        <mdc-text-field
          formControlName="searchText"
          [outlined]="true"
          label="Search"
          autocomplete="off"
          type="text"
          class="searchText"
          (keyup.enter)="doSearch()"
        >
          <mdc-icon mdcTextFieldIcon leading>search</mdc-icon>
        </mdc-text-field>

        <button
          id="submit"
          class="mdc-button ng-mdc-button--primary mdc-button--raised mdc-ripple-upgraded"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>

    <div *ngIf="filterProjects$" class="app-page">
      <div class="form-content">
        <div class="form-layout__row">
          <df-data-table
            [hasFilter]="false"
            [rows]="filterProjects$ | async"
            [limit]="10"
            [columns]="columns"
            (onSelect)="handleSelect($event)"
            (onFilter)="handleFilter($event)"
          >
          </df-data-table>
        </div>
      </div>
    </div>

    <ng-template *ngIf="!filterProjects$ && formSubmitted">
      Loading...
    </ng-template>
  </div>
</div>
