<div class="page_title">
  <div
    #discussion
    class="reader-card-article__title page_title_text"
    mdcHeadline5
  >
    Commitments
  </div>
  <digital-first-clear-button title="Clear&nbsp;Filters"
  (onClear)="handleClearAllFilters()"></digital-first-clear-button>
  <digital-first-export-button (onExport)="handleExport()"></digital-first-export-button>
  <digital-first-add-item-button
    title="New&nbsp;Commitment"
    (onAddItem)="handleCreate()"
  ></digital-first-add-item-button>
  <!-- <digital-first-view-layout-button
    [pageFormat]="pageFormat"
    (onChangePageFormat)="changePageFormat($event)"
  ></digital-first-view-layout-button> -->
</div>
<div class="app-page">
  <section>
    <div class="app-layout__row--no-wrap">
      <digital-first-metadata-refiner
        [refinerGroups]="refinerGroups$ | async"
        (onSearchCriteriaChanged)="handleSearchCriteriaChanged($event)"
        (onClear)="handleSearchCriteriaChanged(null)"
        (onRefinerGroupSelected)="handleRefinerGroupSelected($event)"
        (onRefinerSelected)="handleRefinerSelected($event)"
      ></digital-first-metadata-refiner>

 

      <div class="overview-data-table">

        <!-- <df-data-table
          [rows]="commitments$ | async"
          [columns]="columns"
          [count]="count"
          (onPage)="handlePage($event)"
          (onSelect)="handleCommitmentsRowClicked($event)"
          (onFilter)="handleFilter($event)"
          >
        </df-data-table> -->

        <digital-first-data-table-pager [length]="dataTableRows?.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [showFirstLastButtons]="false" (page)="handlePage($event)"></digital-first-data-table-pager>
        <digital-first-data-table
          [tableData]="dataTableConfig"
          [tableRows]="pagedDataTableRows"
          (onCellClicked)="handleCommitmentsRowClicked($event)"
          (onCellHeadingClicked)="handleCommitmentsCellHeadingClicked($event)"
        ></digital-first-data-table>
        <digital-first-data-table-pager [length]="dataTableRows?.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [showFirstLastButtons]="false" (page)="handlePage($event)"></digital-first-data-table-pager>
      </div>
      <!-- <digital-first-commitment-list
        *ngIf="pageFormat == 'list'"
        [commitments]="commitments$ | async"
        (onEdit)="handleEdit($event)"
      ></digital-first-commitment-list>

      <div *ngIf="pageFormat == 'card'" class="overview-cards">
        <digital-first-commitment-card
          *ngFor="let commitment of (commitments$ | async)"
          [commitment]="commitment"
          (onEdit)="handleEdit($event)"
          (onShare)="handleShare($event)"
        ></digital-first-commitment-card> -->
   
    </div>
  </section>

  <!-- <button mdc-fab extended label="Create Commitment" class="app-fab-extended-fluid" (click)="handleCreate()">
        <mdc-icon>add</mdc-icon>
    </button> -->
</div>
