
<div class="app-page">
  <section>
      <mdc-tab-bar [activeTabIndex]="0" useAutomaticActivation>
          <mdc-tab-scroller>
            <mdc-tab label="Overview"></mdc-tab>
            <mdc-tab label="Delivery Locations"  [routerLink]="['/', 'overview', 'map']"></mdc-tab>
          </mdc-tab-scroller>
        </mdc-tab-bar>
    <div class="app-layout__row--no-wrap">
      <div class="overview-data-table">
        <df-data-table
          [rows]="commitmentsTableData$ | async"
          [columns]="columns"
          [count]="count"
          (onSelect)="handleCommitmentsRowClicked($event)"
        >
        </df-data-table>
      </div>
    </div>
  </section>
</div>
