:host {
  width:100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .app-page {
    padding-left: 0px;
  }

  digital-first-metadata-refiner {
    min-width: 250px;
  }

  digital-first-data-table {
    width:100%;
    width: -webkit-fill-available;

  }

  .overview-data-table{
    flex-direction: row;
    width: 100%;
  }

  .overview-cards {
    width: 100%;
  }

  input[type=text] {
    font-size: 14px;
    display: block;
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5264AE;
}
}

