<mdc-list twoLine>
  <mdc-list-item>
    <mdc-icon mdcListItemGraphic>link</mdc-icon>
    <mdc-list-item-text secondaryText="commitment">Commitment Name</mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdcListItemGraphic>link</mdc-icon>
    <mdc-list-item-text secondaryText="brief">Brief Name</mdc-list-item-text>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdcListItemGraphic>link</mdc-icon>
    <mdc-list-item-text secondaryText="project">Project Name</mdc-list-item-text>
  </mdc-list-item>
</mdc-list>