:host {
  width:100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .app-page {
    padding-left: 0px;
  }

  .ng-select{
    width: 100%;
  }
  .mad-lib{
    padding: 15px;
  }
}
