<div class="app-page">
  <section>
    <digital-first-commitment-view-guard
      [operation]="getRight(userOperation$ | async)"
    >
      <ng-container operation-type="read">
        <digital-first-page-title
          [title]="getTitle(commitment)"
          (onTitleClicked)="handleChangeExpanded(!panels.commitmentPanelExpanded, 'commitmentPanelExpanded')"
          [background]="commitment?.party?.colour"
        >
          <digital-first-busy [busy]="formBusy"></digital-first-busy>
          <digital-first-print-page-button
            *ngIf="panels.commitmentPanelExpanded"
            [background]="commitment?.party?.colour"
            (onPrintClick)="handlePrintClicked()"
          ></digital-first-print-page-button>
          <digital-first-subscriber-button
            *ngIf="panels.commitmentPanelExpanded"
            [background]="commitment?.party?.colour"
            [isSubscribed]="isSubscribed$ | async"
            (onManageSubscription)="handleManageSubscription($event)"
          ></digital-first-subscriber-button>
          <digital-first-expand-collapse-button
            [expanded]="panels.commitmentPanelExpanded"
            (onChangeExpanded)="
              handleChangeExpanded($event, 'commitmentPanelExpanded')
            "
          ></digital-first-expand-collapse-button>
        </digital-first-page-title>
        <div *ngIf="panels.commitmentPanelExpanded" class="mad-lib">
            <digital-first-commitment-mad-lib [commitment]="commitment"></digital-first-commitment-mad-lib>
        </div>
      </ng-container>

      <ng-container operation-type="write">
        <digital-first-page-title
          [title]="getTitle(commitment)"
          (onTitleClicked)="
            handleChangeExpanded(!panels.commitmentPanelExpanded, 'commitmentPanelExpanded')
          "
          [background]="commitment?.party?.colour"
        >
          <digital-first-busy [busy]="formBusy"></digital-first-busy>
          <digital-first-print-page-button
            *ngIf="panels.commitmentPanelExpanded"
            [background]="commitment?.party?.colour"
            (onPrintClick)="handlePrintClicked()"
          ></digital-first-print-page-button>
          <digital-first-autosave-toggle-button
            *ngIf="panels.commitmentPanelExpanded"
            [background]="commitment?.party?.colour"
            [value]="autoSave"
            (onAutosaveClicked)="handleAutosaveClicked($event)"
          ></digital-first-autosave-toggle-button>
          <digital-first-subscriber-button
            *ngIf="panels.commitmentPanelExpanded"
            [background]="commitment?.party?.colour"
            [isSubscribed]="isSubscribed$ | async"
            (onManageSubscription)="handleManageSubscription($event)"
          ></digital-first-subscriber-button>
          <digital-first-expand-collapse-button
            [expanded]="panels.commitmentPanelExpanded"
            (onChangeExpanded)="
              handleChangeExpanded($event, 'commitmentPanelExpanded')
            "
          ></digital-first-expand-collapse-button>
        </digital-first-page-title>

        <digital-first-commitment-edit-form
          *ngIf="panels.commitmentPanelExpanded"
          [busy]="formBusy"
          [showSubmit]="!autoSave"
          [commitment]="commitment"
          [parties]="parties$ | async"
          [criticalDates]="criticalDates$ | async"
          [announcementTypes]="announcementTypes$ | async"
          [whoAnnouncedTypes]="whoAnnouncedTypes$ | async"
          [commitmentTypes]="commitmentTypes$ | async"
          [portfolios]="portfolios$ | async"
          [packageTypes]="packageTypes$ | async"
          [statuses] = "statuses$ | async"
          (onSubmitted)="handleUpdateCommitment($event)"
          (onCancelled)="handleCancelled($event)"
          (onChanged)="handleUpdateCommitmentChange($event)"
        >
        </digital-first-commitment-edit-form>
      </ng-container>
    </digital-first-commitment-view-guard>

  <digital-first-commitment-package
  *ngIf="commitment"
  [commitment]="commitment?.id"
  >
  </digital-first-commitment-package>

    <digital-first-commitment-delivery-location
      *ngIf="commitment"
      [commitment]="commitment?.id"
    >
    </digital-first-commitment-delivery-location>

    <digital-first-commitment-contacts
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-contacts>

    <digital-first-commitment-costings
      *ngIf="commitment"
      [commitmentId]="commitment?.id"
      [required]="commitment?.costingRequired"
    ></digital-first-commitment-costings>

    <digital-first-commitment-related-links
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-related-links>

    <digital-first-commitment-portfolio
    *ngIf="commitment"
    [commitment]="commitment?.id"
    >
    </digital-first-commitment-portfolio>

    <digital-first-commitment-discussion
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-discussion>
  </section>
</div>
