<div class="app-page">
  <section>


    <digital-first-commitment-view-guard [operation]="getRight(userOperation$ | async)" >
      <ng-container operation-type="read">
          <digital-first-page-title
          [title]="getTitle(commitment)"
          (onTitleClicked)="
            handleChangeExpanded(!panels.formPanelExpanded, 'formPanelExpanded')
          "
          [background]="commitment?.party?.colour"
        >
          <digital-first-busy [busy]="formBusy"></digital-first-busy>
          <digital-first-subscriber-button
            *ngIf="panels.formPanelExpanded"
            [background]="commitment?.party?.colour"
            [isSubscribed]="isSubscribed$ | async"
            (onManageSubscription)="handleManageSubscription($event)"
          ></digital-first-subscriber-button>
          <digital-first-expand-collapse-button
            [expanded]="panels.formPanelExpanded"
            (onChangeExpanded)="
              handleChangeExpanded($event, 'formPanelExpanded')
            "
          ></digital-first-expand-collapse-button>
        </digital-first-page-title>
        <div *ngIf="panels.formPanelExpanded">
          <digital-first-commitment-card
            [commitment]="commitment"
          ></digital-first-commitment-card>
        </div>
      </ng-container>
    
      <ng-container operation-type="write">
          <digital-first-page-title
          [title]="getTitle(commitment)"
          (onTitleClicked)="
            handleChangeExpanded(!panels.formPanelExpanded, 'formPanelExpanded')
          "
          [background]="commitment?.party?.colour"
        >
          <digital-first-busy [busy]="formBusy"></digital-first-busy>
          <digital-first-print-page-button
            *ngIf="panels.formPanelExpanded"
            [background]="commitment?.party?.colour"
            (onPrintClick)="handlePrintClicked()"
          ></digital-first-print-page-button>
          <digital-first-autosave-toggle-button
            *ngIf="panels.formPanelExpanded"
            [background]="commitment?.party?.colour"
            [value]="autoSave"
            (onAutosaveClicked)="handleAutosaveClicked($event)"
          ></digital-first-autosave-toggle-button>
          <digital-first-subscriber-button
            *ngIf="panels.formPanelExpanded"
            [background]="commitment?.party?.colour"
            [isSubscribed]="isSubscribed$ | async"
            (onManageSubscription)="handleManageSubscription($event)"
          ></digital-first-subscriber-button>
          <digital-first-expand-collapse-button
            [expanded]="panels.formPanelExpanded"
            (onChangeExpanded)="
              handleChangeExpanded($event, 'formPanelExpanded')
            "
          ></digital-first-expand-collapse-button>
        </digital-first-page-title>

        <digital-first-commitment-edit-form
          *ngIf="panels.formPanelExpanded"
          [busy]="formBusy"
          [showSubmit]="!autoSave"
          [commitment]="commitment"
          [parties]="parties$ | async"
          [criticalDates]="criticalDates$ | async"
          [announcementTypes]="announcementTypes$ | async"
          [whoAnnouncedTypes]="whoAnnouncedTypes$ | async"
          [commitmentTypes]="commitmentTypes$ | async"
          [portfolios]="portfolios$ | async"
          [packageTypes]="packageTypes$ | async"
          [themeTypes]="themeTypes$ | async"
          (onSubmitted)="handleUpdateCommitment($event)"
          (onCancelled)="handleCancelled($event)"
          (onChanged)="handleUpdateCommitmentChange($event)"
        >
        </digital-first-commitment-edit-form>
      </ng-container>
    </digital-first-commitment-view-guard>

    <digital-first-page-title
      *ngIf="commitment"
      title="Delivery location"
      (onTitleClicked)="
        handleChangeExpanded(!panels.mapPanelExpanded, 'mapPanelExpanded')
      "
    >
      <digital-first-expand-collapse-button
        [expanded]="panels.mapPanelExpanded"
        (onChangeExpanded)="handleChangeExpanded($event, 'mapPanelExpanded')"
      ></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <div
      class="commitment-layout__row"
      *ngIf="commitment && panels.mapPanelExpanded"
    >
      <div class="form-content">
        <div class="form-layout__row--no-wrap">
          <ng-select
            [items]="electorates$ | async"
            bindValue="id"
            bindLabel="title"
            groupBy="group"
            placeholder="Select Location"
            maxSelectedItems="8"
            (add)="handleAddElectorateToCommitment($event)"
            (remove)="handleRemoveElectorateFromCommitment($event)"
            [ngModel]="selectedElectorateIds"
            [multiple]="true"
            [clearable]="false"
            [hideSelected]="true"
          >
          </ng-select>
        </div>
        <div class="form-layout__row--no-wrap">
          <digital-first-info>
            You can select multiple locations by using the drop down selector or
            by clicking in the Select Location field and typing
          </digital-first-info>
        </div>
      </div>

      <digital-first-map
        [mapPoints]="commitment.mapPoints"
        (onAddMapPoint)="handleAddMapPoint($event)"
        (onDeleteMapPoint)="handleDeleteMapPoint($event)"
      ></digital-first-map>
    </div>

    <digital-first-commitment-contacts
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-contacts>

    <digital-first-commitment-costings
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-costings>

    <digital-first-commitment-related-links
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-related-links>

    <digital-first-commitment-related-commitments
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-related-commitments>

    <digital-first-commitment-discussion
      *ngIf="commitment"
      [commitment]="commitment?.id"
    ></digital-first-commitment-discussion>
  </section>
</div>
