$web-colors : ("AliceBlue", AliceBlue, $primary-color-text),
  ("Amber", #FFC107, $primary-color-text),
  ("AntiqueWhite", AntiqueWhite, $primary-color-text),
  ("Aqua", Aqua, $primary-color-text),
  ("Aquamarine", Aquamarine, $primary-color-text),
  ("Azure", Azure, $primary-color-text),
  ("Beige", Beige, $primary-color-text),
  ("Bisque", Bisque, $primary-color-text),
  ("Black", Black, $primary-text-color),
  ("BlanchedAlmond", BlanchedAlmond, $primary-color-text),
  ("Blue", Blue, $primary-color-text),
  ("BlueViolet", BlueViolet, $primary-color-text),
  ("Brown", Brown, $primary-color-text),
  ("BurlyWood", BurlyWood, $primary-color-text),
  ("CadetBlue", CadetBlue, $primary-color-text),
  ("Chartreuse", Chartreuse, $primary-color-text),
  ("Chocolate", Chocolate, $primary-color-text),
  ("Coral", Coral, $primary-color-text),
  ("CornflowerBlue", CornflowerBlue, $primary-color-text),
  ("Cornsilk", Cornsilk, $primary-color-text),
  ("Crimson", Crimson, $primary-color-text),
  ("Cyan", Cyan, $primary-color-text),
  ("DarkBlue", DarkBlue, $primary-text-color),
  ("DarkCyan", DarkCyan, $primary-text-color),
  ("DarkGoldenRod", DarkGoldenRod, $primary-text-color),
  ("DarkGray", DarkGray, $primary-color-text),
  ("DarkGrey", DarkGrey, $primary-color-text),
  ("DarkGreen", DarkGreen, $primary-text-color),
  ("DarkKhaki", DarkKhaki, $primary-color-text),
  ("DarkMagenta", DarkMagenta, $primary-text-color),
  ("DarkOliveGreen", DarkOliveGreen, $primary-text-color),
  ("DarkOrange", DarkOrange, $primary-color-text),
  ("DarkOrchid", DarkOrchid, $primary-color-text),
  ("DarkRed", DarkRed, $primary-text-color),
  ("DarkSalmon", DarkSalmon, $primary-color-text),
  ("DarkSeaGreen", DarkSeaGreen, $primary-color-text),
  ("DarkSlateBlue", DarkSlateBlue, $primary-text-color),
  ("DarkSlateGray", DarkSlateGray, $primary-text-color),
  ("DarkSlateGrey", DarkSlateGrey, $primary-text-color),
  ("DarkTurquoise", DarkTurquoise, $primary-color-text),
  ("DarkViolet", DarkViolet, $primary-color-text),
  ("DeepPink", DeepPink, $primary-color-text),
  ("DeepSkyBlue", DeepSkyBlue, $primary-color-text),
  ("DimGray", DimGray, $primary-color-text),
  ("DimGrey", DimGrey, $primary-color-text),
  ("DodgerBlue", DodgerBlue, $primary-color-text),
  ("FireBrick", FireBrick, $primary-color-text),
  ("FloralWhite", FloralWhite, $primary-color-text),
  ("ForestGreen", ForestGreen, $primary-text-color),
  ("Fuchsia", Fuchsia, $primary-color-text),
  ("Gainsboro", Gainsboro, $primary-color-text),
  ("GhostWhite", GhostWhite, $primary-color-text),
  ("Gold", Gold, $primary-color-text),
  ("GoldenRod", GoldenRod, $primary-color-text),
  ("Gray", Gray, $primary-color-text),
  ("Grey", Grey, $primary-color-text),
  ("Green", Green, $primary-text-color),
  ("GreenYellow", GreenYellow, $primary-color-text),
  ("HoneyDew", HoneyDew, $primary-color-text),
  ("HotPink", HotPink, $primary-color-text),
  ("IndianRed", IndianRed, $primary-color-text),
  ("Indigo", Indigo, $primary-text-color),
  ("Ivory", Ivory, $primary-color-text),
  ("Khaki", Khaki, $primary-color-text),
  ("Lavender", Lavender, $primary-color-text),
  ("LavenderBlush", LavenderBlush, $primary-color-text),
  ("LawnGreen", LawnGreen, $primary-color-text),
  ("LemonChiffon", LemonChiffon, $primary-color-text),
  ("LightBlue", LightBlue, $primary-color-text),
  ("LightCoral", LightCoral, $primary-color-text),
  ("LightCyan", LightCyan, $primary-color-text),
  ("LightGoldenRodYellow", LightGoldenRodYellow, $primary-color-text),
  ("LightGray", LightGray, $primary-color-text),
  ("LightGrey", LightGrey, $primary-color-text),
  ("LightGreen", LightGreen, $primary-color-text),
  ("LightPink", LightPink, $primary-color-text),
  ("LightSalmon", LightSalmon, $primary-color-text),
  ("LightSeaGreen", LightSeaGreen, $primary-color-text),
  ("LightSkyBlue", LightSkyBlue, $primary-color-text),
  ("LightSlateGray", LightSlateGray, $primary-color-text),
  ("LightSlateGrey", LightSlateGrey, $primary-color-text),
  ("LightSteelBlue", LightSteelBlue, $primary-color-text),
  ("LightYellow", LightYellow, $primary-color-text),
  ("Lime", Lime, $primary-color-text),
  ("LimeGreen", LimeGreen, $primary-color-text),
  ("Linen", Linen, $primary-color-text),
  ("Magenta", Magenta, $primary-color-text),
  ("Maroon", Maroon, $primary-text-color),
  ("MediumAquaMarine", MediumAquaMarine, $primary-color-text),
  ("MediumBlue", MediumBlue, $primary-color-text),
  ("MediumOrchid", MediumOrchid, $primary-color-text),
  ("MediumPurple", MediumPurple, $primary-color-text),
  ("MediumSeaGreen", MediumSeaGreen, $primary-color-text),
  ("MediumSlateBlue", MediumSlateBlue, $primary-color-text),
  ("MediumSpringGreen", MediumSpringGreen, $primary-color-text),
  ("MediumTurquoise", MediumTurquoise, $primary-color-text),
  ("MediumVioletRed", MediumVioletRed, $primary-color-text),
  ("MidnightBlue", MidnightBlue, $primary-text-color),
  ("MintCream", MintCream, $primary-color-text),
  ("MistyRose", MistyRose, $primary-color-text),
  ("Moccasin", Moccasin, $primary-color-text),
  ("NavajoWhite", NavajoWhite, $primary-color-text),
  ("Navy", Navy, $primary-text-color),
  ("OldLace", OldLace, $primary-color-text),
  ("Olive", Olive, $primary-text-color),
  ("OliveDrab", OliveDrab, $primary-text-color),
  ("Orange", Orange, $primary-color-text),
  ("OrangeRed", OrangeRed, $primary-color-text),
  ("Orchid", Orchid, $primary-color-text),
  ("PaleGoldenRod", PaleGoldenRod, $primary-color-text),
  ("PaleGreen", PaleGreen, $primary-color-text),
  ("PaleTurquoise", PaleTurquoise, $primary-color-text),
  ("PaleVioletRed", PaleVioletRed, $primary-color-text),
  ("PapayaWhip", PapayaWhip, $primary-color-text),
  ("PeachPuff", PeachPuff, $primary-color-text),
  ("Peru", Peru, $primary-color-text),
  ("Pink", Pink, $primary-color-text),
  ("Plum", Plum, $primary-color-text),
  ("PowderBlue", PowderBlue, $primary-color-text),
  ("Purple", Purple, $primary-text-color),
  ("RebeccaPurple", RebeccaPurple, $primary-text-color),
  ("Red", Red, $primary-color-text),
  ("RosyBrown", RosyBrown, $primary-color-text),
  ("RoyalBlue", RoyalBlue, $primary-color-text),
  ("SaddleBrown", SaddleBrown, $primary-text-color),
  ("Salmon", Salmon, $primary-color-text),
  ("SandyBrown", SandyBrown, $primary-color-text),
  ("SeaGreen", SeaGreen, $primary-text-color),
  ("SeaShell", SeaShell, $primary-color-text),
  ("Sienna", Sienna, $primary-color-text),
  ("Silver", Silver, $primary-color-text),
  ("SkyBlue", SkyBlue, $primary-color-text),
  ("SlateBlue", SlateBlue, $primary-color-text),
  ("SlateGray", SlateGray, $primary-color-text),
  ("SlateGrey", SlateGrey, $primary-color-text),
  ("Snow", Snow, $primary-color-text),
  ("SpringGreen", SpringGreen, $primary-color-text),
  ("SteelBlue", SteelBlue, $primary-color-text),
  ("Tan", Tan, $primary-color-text),
  ("Teal", Teal, $primary-text-color),
  ("Thistle", Thistle, $primary-color-text),
  ("Tomato", Tomato, $primary-color-text),
  ("Turquoise", Turquoise, $primary-color-text),
  ("Violet", Violet, $primary-color-text),
  ("Wheat", Wheat, $primary-color-text),
  ("White", White, $primary-color-text),
  ("WhiteSmoke", WhiteSmoke, $primary-color-text),
  ("Yellow", Yellow, $primary-color-text),
  ("YellowGreen", YellowGreen, $primary-color-text);
  
  @function set-notification-text-color($colours) {
    @if (lightness($colours) > 40) {
      @return $primary-text-color; // Lighter backgorund, return dark color
    } @else {
      @return $primary-color-text; // Darker background, return light color
    }
  }

  @each $color in $web-colors {
    .#{nth($color,1)},
    .#{to-lower-case(nth($color,1))}{
      background-color: nth($color,2) !important;
      color: set-notification-text-color(nth($color,3)) !important;
      
      &-invert{
        color: nth($color,2) !important;
        background-color: set-notification-text-color(nth($color,3)) !important;
      }
    }


    .pack-highlight-#{nth($color,1)} {
      border-left: 6px solid #{nth($color,1)} !important;
    }
  }

  .transparent {
    background-color: transparent !important;
  }