<df-expander-panel
    title="Discussion"
    [background]="background"
    expanded="true"
  >
    <ng-container panel-buttons>
      <df-button
        title="Agency"
        icon="chat_bubble"
        [background]="background"
        (onClick)="handleSelectDiscussion(discussionTypes.Agency)"
      ></df-button>
      <df-button
        title="Office"
        icon="chat_bubble"
        [background]="background"
        (onClick)="handleSelectDiscussion(discussionTypes.Office)"
      ></df-button>
    </ng-container>

    <df-discussion
      [hostId]="brief.id"
      [comments]="comments$ | async"
      [activeComment]="activeComment$ | async"
      (onReplyToComment)="handleReplyToComment($event)"
      (onDeleteComment)="handleRemoveComment($event)"
      (onAddComment)="handleAddComment($event)"
    ></df-discussion>
  </df-expander-panel>