<div class="page">
  <section *ngIf="profile$ | async as profile">
    <mdc-card class="app-card">
      <mdc-card-primary-action>
        <div class="app-card__primary">
          <h2 class="app-card__title" mdcHeadline6>{{ profile.name }}</h2>
          <h3 class="app-card__subtitle" mdcSubtitle2>{{ profile.email }}</h3>
        </div>
      </mdc-card-primary-action>
      <mdc-list-divider></mdc-list-divider>
      <mdc-ripple class="app-card-article">
        <h2 class="app-card-article__title" mdcHeadline5>Roles</h2>
        <mdc-list>
          <mdc-list-item *ngFor="let role of profile.roles">
            <mdc-list-item-text>{{ role }}</mdc-list-item-text>
          </mdc-list-item>
        </mdc-list>
      </mdc-ripple>

      <mdc-ripple
        class="app-card-article"
        *ngIf="userOperation$ | async as operations"
      >
        <h2 class="app-card-article__title" mdcHeadline5>Operations</h2>

        <table
          class="df-data-table df-js-data-table df-data-table--selectable df-shadow--2dp"
          *ngIf="operations?.length > 0"
        >
          <tr>
            <th></th>
            <th>Write</th>
            <th>Read</th>
            <th>Hide</th>
          </tr>
          <tr *ngFor="let row of operations">
            <td [innerHtml]="row.title | safeHtml"></td>
            <td><i class="material-icons">{{row.write ? 'check_box': 'check_box_outline_blank'}}</i></td>
            <td><i class="material-icons">{{row.read ? 'check_box': 'check_box_outline_blank'}}</i></td>
            <td><i class="material-icons">{{row.hide ? 'check_box': 'check_box_outline_blank'}}</i></td>
          </tr>
        </table>

      </mdc-ripple>
    </mdc-card>
  </section>
</div>
