<div class="page_title">
  <div class="reader-card-article__title page_title_text" mdcHeadline5>
    Upload Statistic
  </div>
</div>
<div>
  <div *ngIf="statistics; else loading" class="app-page">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner ">
        <div class="mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell--span-6 mdc-elevation--z9">
          <div class="form-content">
            <form (ngSubmit)="onSubmit()" [formGroup]="statisticForm">
              <fieldset>
                <h3 class="form-content__headline">
                  Upload Statistic CSV Form
                </h3>
                <div class="form-layout__row">
                  <mdc-select
                    formControlName="statisticId"
                    placeholder="Statistic"
                    [outlined]="true"
                    required
                    name="statistic"
                    (selectionChange)="onSelectionChange($event)"
                  >
                    <option value="" selected></option>
                    <option
                      *ngFor="let statistic of statistics"
                      [value]="statistic.id"
                      >{{ statistic.name }}
                    </option>
                  </mdc-select>
                </div>
                <div class="form-layout__row">
                  <mdc-select
                    formControlName="statisticReportId"
                    placeholder="Statistic report"
                    [outlined]="true"
                    name="statisticReport"
                    (selectionChange)="onReportSelectionChange($event)"
                  >
                    <option value=""></option>
                    <option
                      *ngFor="let statisticReport of statisticReports"
                      [value]="statisticReport.id"
                    >
                      {{ statisticReport.name }}
                    </option>
                  </mdc-select>
                </div>
                <div class="form-layout__row">
                  <mdc-text-field
                    formControlName="dataDate"
                    type="date"
                    #outlinedicon
                    [outlined]="true"
                    label="Data date"
                    name="dataDate"
                  >
                    <mdc-icon mdcTextFieldIcon leading #leadingicon
                      >event</mdc-icon
                    >
                  </mdc-text-field>
                </div>
                <div class="form-layout__row">
                  <mdc-textarea
                    formControlName="notes"
                    name="notes"
                    id="notes"
                    cols="8"
                    rows="3"
                    label="Notes"
                    spellcheck="true"
                  >
                  </mdc-textarea>
                </div>
                <div class="form-layout__row">
                  <mdc-form-field [alignEnd]="true">
                    <input #inputElement
                      class="inputfile"
                      type="file"
                      accept=".csv"
                      (change)="fileChange($event)"
                      id="fileToUpload"
                      name="fileToUpload"
                      required
                    />
                  </mdc-form-field>
                  <label for="fileToUpload" class="mdc-button"
                    >Choose a file</label
                  >
                  <p>{{ fileToUpload ? fileToUpload.name : '' }}</p>
                </div>
                <div class="form-layout__row-with-button">
                  <button
                    id="submit"
                    class="mdc-button ng-mdc-button--primary mdc-button--raised mdc-ripple-upgraded"
                    type="submit"
                    [disabled]="statisticForm.invalid || statisticForm.pristine"
                  >
                    Submit
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="mdc-layout-grid__cell--span-3"></div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    Loading...
  </ng-template>
</div>
