<digital-first-commitment-view-guard [operation]="getRight(userOperation$ | async)" >
    <ng-container operation-type="write">
      <digital-first-page-title *ngIf="commitment" title="Contacts" (onTitleClicked)="handleChangeExpanded(!expanded)">
        <digital-first-add-item-button icon="person_add" title="New&nbsp;Contact" *ngIf="expanded"
          (onAddItem)="handleCreateContact()"></digital-first-add-item-button>
        <digital-first-add-item-button icon="person" title="Add&nbsp;Contact" *ngIf="expanded"
          (onAddItem)="handleOpenContactDialog()"></digital-first-add-item-button>
        <digital-first-expand-collapse-button [expanded]='expanded' (onChangeExpanded)="handleChangeExpanded(!expanded)"></digital-first-expand-collapse-button>
      </digital-first-page-title>

      <div class="commitment-layout__row" *ngIf="expanded">
        <digital-first-data-table [tableData]="commitmentContactsTableData$ | async" [hasDeleteItemButton]="true" (onDeleteItem)="handleContactsTableDeleteClicked($event)"></digital-first-data-table>
</div>
</ng-container>
<ng-container operation-type="read">
    <digital-first-page-title *ngIf="commitment" title="Contacts" (onTitleClicked)="handleChangeExpanded(!expanded)">
      <digital-first-expand-collapse-button [expanded]='expanded' (onChangeExpanded)="handleChangeExpanded(!expanded)"></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <div class="commitment-layout__row" *ngIf="expanded">
      <digital-first-data-table [tableData]="commitmentContactsTableData$ | async" [hasDeleteItemButton]="false" (onDeleteItem)="handleContactsTableDeleteClicked($event)"></digital-first-data-table>
</div>
</ng-container>
</digital-first-commitment-view-guard>
