<div *ngIf="(statistics$ | async) as statistics; else loading">
  <div class="page_title">
    <div class="reader-card-article__title page_title_text" mdcHeadline5>Statistics</div>
  </div>
  <div class="app-page">
    <p>TODO:  search/filter</p><!--TODO:  search/filter-->
    <mdc-list>
      <mdc-list-item *ngFor="let statistic of statistics">
        <mdc-list-item-text><a [routerLink]="[statistic.id]">{{statistic.name}}</a>
        </mdc-list-item-text>
      </mdc-list-item>
    </mdc-list>
    <button mdc-fab position='bottomRight' (click)="add()" icon="add"></button>
  </div>
</div>
<ng-template #loading>
  Loading...
</ng-template>
