<div>
  <div [innerHtml]="recommendation.recommendation | safeHtml"></div>
  <div class="outcomes">
    <form [formGroup]="form">
      <input type="hidden" formControlName="recommendation" />
      <input type="hidden" formControlName="brief" />
      <input type="hidden" formControlName="responseid" />      
      <mdc-radio-group formControlName="response">
        <mdc-form-field>
          <mdc-radio [value]="recommendation.outcome1"></mdc-radio>
          <label>{{ recommendation.outcome1 }}</label>
        </mdc-form-field>

        <mdc-form-field>
          <mdc-radio [value]="recommendation.outcome2"></mdc-radio>
          <label>{{ recommendation.outcome2 }}</label>
        </mdc-form-field>

        <mdc-form-field>
          <mdc-radio [value]="recommendation.outcome3"></mdc-radio>
          <label>{{ recommendation.outcome3 }}</label>
        </mdc-form-field>
      </mdc-radio-group>
    </form>
    <span class="responseby" *ngIf="response" >Responded by: Peter Giles on 8/20/2019 at 11:14:40 AM</span
    >
  </div>
</div>
