<div class="app-page">

  <section>

    <digital-first-page-title [title]="commitment?.title" (onTitleClicked)="handleChangeExpanded(!panels.formPanelExpanded, 'formPanelExpanded')" [background]="commitment?.party?.colour">
      <digital-first-busy [busy]="formBusy"></digital-first-busy>
      <digital-first-add-notification-button *ngIf="panels.formPanelExpanded" [background]="commitment?.party?.colour"></digital-first-add-notification-button>
      <digital-first-expand-collapse-button [expanded]='panels.formPanelExpanded' (onChangeExpanded)="handleChangeExpanded($event, 'formPanelExpanded')"></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <mdc-linear-progress *ngIf="formBusy"></mdc-linear-progress>

      <digital-first-commitment-edit-form *ngIf="panels.formPanelExpanded" [busy]="formBusy" [commitment]="commitment"
        [parties]="parties$ | async" [announcementTypes]="announcementTypes$ | async" [whoAnnouncedTypes]="whoAnnouncedTypes$ | async"
        [commitmentTypes]="commitmentTypes$ | async" [portfolios]="portfolios$ | async" [locations]="locations$ | async"
        (onSubmitted)="handleUpdateCommitment($event)" (onCancelled)="handleCancelled($event)" (onChanged)="handleUpdateCommitment($event)">
      </digital-first-commitment-edit-form>



    <!-- <div class="commitment-layout__row">
      <digital-first-related-artifacts></digital-first-related-artifacts>
    </div> -->

    <digital-first-page-title *ngIf="commitment" title="Discussion" (onTitleClicked)="handleChangeExpanded(!panels.discussionPanelExpanded, 'discussionPanelExpanded')">
      <digital-first-date-format-button *ngIf="panels.discussionPanelExpanded" [timeFormat]='commitmentEditDiscussionTimeFormat | async'
        (onChangeDateFormat)="changeDateFormat($event)"></digital-first-date-format-button>
      <digital-first-expand-collapse-button [expanded]='panels.discussionPanelExpanded' (onChangeExpanded)="handleChangeExpanded($event, 'discussionPanelExpanded')"></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <digital-first-discussion *ngIf="(commitment) && panels.discussionPanelExpanded" [comments]="(commitment)?.discussion"
      [hostId]="(commitment).id" [activeComment]="activeComment" [timeFormat]="commitmentEditDiscussionTimeFormat | async"
      (onDeleteComment)="handleDeleteComment($event)" (onReplyToComment)="handleReplyToComment($event)" (onAddComment)="handleAddComment($event)">
    </digital-first-discussion>

    <digital-first-page-title *ngIf="commitment" title="Locations" (onTitleClicked)="handleChangeExpanded(!panels.mapPanelExpanded, 'mapPanelExpanded')">
      <digital-first-expand-collapse-button [expanded]='panels.mapPanelExpanded' (onChangeExpanded)="handleChangeExpanded($event, 'mapPanelExpanded')"></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <div class="commitment-layout__row" *ngIf="commitment && panels.mapPanelExpanded">

      <div class="form-content">
        <div class="form-layout__row--no-wrap">
          <ng-select [items]="electorates$ | async" bindValue="id" bindLabel="title" placeholder="Electorate"
            maxSelectedItems="8" (add)="handleAddElectorateToCommitment($event)" (remove)="handleRemoveElectorateFromCommitment($event)"
            [ngModel]="selectedElectorateIds" [multiple]="true" [clearable]="false" [hideSelected]="true">
          </ng-select>
        </div>
      </div>

      <digital-first-map [mapPoints]="commitment.mapPoints" (onAddMapPoint)="handleAddMapPoint($event)"
        (onDeleteMapPoint)=handleDeleteMapPoint($event)></digital-first-map>
    </div>
    <digital-first-page-title *ngIf="commitment" title="Contacts" (onTitleClicked)="handleChangeExpanded(!panels.contactPanelExpanded, 'contactPanelExpanded')">
      <digital-first-add-item-button icon="person_add" title="New&nbsp;Contact" *ngIf="panels.contactPanelExpanded"
        (onAddItem)="handleCreateContact()"></digital-first-add-item-button>
      <digital-first-add-item-button icon="person" title="Add&nbsp;Contact" *ngIf="panels.contactPanelExpanded"
        (onAddItem)="handleOpenContactDialog()"></digital-first-add-item-button>
      <digital-first-expand-collapse-button [expanded]='panels.contactPanelExpanded' (onChangeExpanded)="handleChangeExpanded($event, 'contactPanelExpanded')"></digital-first-expand-collapse-button>
    </digital-first-page-title>

    <div class="commitment-layout__row" *ngIf="panels.contactPanelExpanded">
      <digital-first-data-table [tableData]="commitmentContactsTableData$ | async" (onDeleteItem)="handleContactsTableDeleteClicked($event)"></digital-first-data-table>
    </div>

    <mdc-linear-progress *ngIf="formBusy"></mdc-linear-progress>
  </section>

</div>