<div class="app-page">

  <section>

    <div class="page_title">
      <div #review class="reader-card-article__title page_title_text" mdcHeadline5>Review</div>
    </div>

    <digital-first-commitment-card [commitment]="commitment$ | async" [config]="{disabled:true}"></digital-first-commitment-card>

    <div class="page_title" *ngIf="commitment$ | async">
      <div #discussion class="reader-card-article__title page_title_text" mdcHeadline5>Discussion</div>
      <a mdcIcon aria-label="Date Format" title="Date Format" *ngIf="timeFormat=='dateFormat'" (click)="changeDateFormat('calendar')">date_range</a>
      <a mdcIcon aria-label="Date Format" title="Date Format" *ngIf="timeFormat=='timeAgo'" (click)="changeDateFormat('dateFormat')">schedule</a>
      <a mdcIcon aria-label="Date Format" title="Date Format" *ngIf="timeFormat=='calendar'" (click)="changeDateFormat('timeAgo')">calendar_today</a>
    </div>

    <digital-first-discussion *ngIf="commitment$ | async" [comments]="(commitment$ | async)?.discussion" [hostId]="(commitment$ | async).id"
      [activeComment]="activeComment" [timeFormat]="timeFormat" (onDeleteComment)="handleDeleteComment($event)"
      (onReplyToComment)="handleReplyToComment($event)" (onAddComment)="handleAddComment($event)"></digital-first-discussion>

    <div class="page_title">
      <div *ngIf="commitment$ | async" #discussion class="reader-card-article__title page_title_text" mdcHeadline5>Edit</div>
      <div *ngIf="!(commitment$ | async)" #discussion class="reader-card-article__title page_title_text" mdcHeadline5>Create</div>
    </div>

    <digital-first-commitment-edit-form [commitment]="commitment$ | async" [parties]="parties$ | async"
      [announcementTypes]="announcementTypes$ | async" [commitmentTypes]="commitmentTypes$ | async" [portfolios]="portfolios$ | async"
      [locations]="locations$ | async" (onSubmitted)="handleUpdateCommitment($event)" (onCancelled)="handleCancelled($event)"
      (onChanged)="handleChanged($event)">
    </digital-first-commitment-edit-form>

    <div class="page_title">
        <div *ngIf="commitment$ | async" #discussion class="reader-card-article__title page_title_text" mdcHeadline5>Edit</div>
      </div>

    <div class="form-layout__row">
      <digital-first-contact-card></digital-first-contact-card>
      <digital-first-contact-card></digital-first-contact-card>
      <digital-first-contact-card></digital-first-contact-card>
      <digital-first-contact-card></digital-first-contact-card>
    </div>

  </section>

</div>