<section *ngIf="brief$ | async as brief">
  <digital-first-brief-discussion
    [brief]="brief"
    [background]="background$ | async"
  ></digital-first-brief-discussion>
  <df-expander-panel
    [title]="brief.title"
    [background]="background$ | async"
    expandable="false"
    expanded="true"
  >
    <ng-container panel-buttons>
      <span class="brief-reference">{{ brief.reference }}</span>
      <df-button
        class="edit"
        title="Edit"
        icon="edit"
        [background]="background$ | async"
        (onClick)="handleOpenDocument($event)"
      ></df-button>
      <df-button
        title="Subscribe"
        icon="add_alert"
        [background]="background$ | async"
        (onClick)="handleSubscribe($event)"
      ></df-button>
      <df-button
        title="Admin"
        icon="settings"
        [background]="background$ | async"
        (onClick)="handleEdit($event)"
      ></df-button>
    </ng-container>
    <div class="GhostWhite brief-document">
      <digital-first-brief-status [brief]="brief"></digital-first-brief-status>
      <digital-first-protective-marking
        [brief]="brief"
      ></digital-first-protective-marking>
      
      <digital-first-brief-document></digital-first-brief-document>

      <digital-first-protective-marking
        [brief]="brief"
      ></digital-first-protective-marking>
      <digital-first-brief-status [brief]="brief"></digital-first-brief-status>
    </div>
  </df-expander-panel>
</section>
