<section *ngIf="brief$ | async as brief">
  <df-expander-panel
    [title]="brief.title"
    [background]="background$ | async"
    expandable="true"
    expanded="true"
  >
    <ng-container panel-buttons
      ><df-button
        title="View Brief"
        icon="subject"
        [background]="background$ | async"
        (onClick)="handleView($event)"
      ></df-button>
    </ng-container>

    <div class="GhostWhite brief-document">
      <form
        *ngIf="brief"
        [formGroup]="form"
        (ngSubmit)="handleSubmit($event)"
        autocomplete="off"
      >
        <mdc-card class="form-card">
          <div>
            <div mdcBody2 class="form-section">
              <h3>Navigation</h3>
              <div class="form-row">
                <mdc-select
                  outlined
                  placeholder="Policy"
                  formControlName="policy"
                >
                  <option *ngFor="let p of policies$ | async" [value]="p.value">
                    {{ p.caption }}
                  </option>
                </mdc-select>

                <mdc-select
                  outlined
                  placeholder="Sub Policy"
                  formControlName="subpolicy"
                >
                  <option
                    *ngFor="let p of subpolicies$ | async"
                    [value]="p.value"
                  >
                    {{ p.caption }}
                  </option>
                </mdc-select>
              </div>
            </div>
            <div mdcBody2 class="form-section">
              <h3>Protective Markings</h3>
              <div class="form-row">
                <mdc-select
                  outlined
                  placeholder="Security Classification"
                  formControlName="securityClassification"
                >
                  <option
                    *ngFor="let classification of classifications$ | async"
                    [value]="classification.value"
                  >
                    {{ classification.caption }}
                  </option>
                </mdc-select>

                <mdc-select outlined placeholder="DLM" formControlName="dLM">
                  <option *ngFor="let dlm of dlms$ | async" [value]="dlm.value">
                    {{ dlm.caption }}
                  </option>
                </mdc-select>
              </div>
            </div>
            <div mdcBody2 class="form-section">
              <h3>Recommended Direction and Actions</h3>

              <div class="form-row">
                <ngx-wig
                  formControlName="recommendedDirection"
                  [placeholder]="'Enter recommended direction text here.'"
                ></ngx-wig>
              </div>

              <mdc-card outlined formArrayName="actions" class="action-card">
                <div
                  class="action-card-item"
                  *ngFor="
                    let actionEditor of actions.controls;
                    let actionIndex = index
                  "
                  [formGroupName]="actionIndex"
                >
                  <div class="action-card-row">
                    <ngx-wig
                      formControlName="description"
                      [placeholder]="'Action Description.'"
                    ></ngx-wig>
                  </div>
                  <div class="action-card-row">
                    <mdc-text-field
                      outlined
                      formControlName="outcome1"
                      label="Outcome 1"
                    ></mdc-text-field>

                    <mdc-text-field
                      outlined
                      formControlName="outcome2"
                      label="Outcome 1"
                    ></mdc-text-field>

                    <mdc-text-field
                      outlined
                      formControlName="outcome3"
                      label="Outcome 1"
                    ></mdc-text-field>
                    <input type="hidden" formControlName="id" />
                  </div>

                  <div class="action-card-row">
                    <a
                      mdc-button
                      dense
                      (click)="
                        handleRemoveAction(actionIndex, actions[actionIndex])
                      "
                      >Remove this Action</a
                    >
                  </div>
                </div>

                <div class="df-card__actions-footer">
                  <a mdc-button dense (click)="handleAddAction()">
                    Add Action
                  </a>
                </div>
              </mdc-card>
            </div>
            <div mdcBody2 class="form-section">
              <h3>Related Commitments</h3>

              <mdc-card
                outlined
                formArrayName="commitments"
                class="action-card"
              >
                <div
                  class="action-card-item"
                  *ngFor="
                    let commitmentEditor of commitments.controls;
                    let commitmentIndex = index
                  "
                  [formGroupName]="commitmentIndex"
                >
                  <div class="action-card-row">
                    <mdc-select
                      outlined
                      placeholder="Commitment"
                      formControlName="commitment"
                    >
                      <option
                        *ngFor="let c of commitment$ | async"
                        [value]="c.value"
                      >
                        {{ c.caption }}
                      </option>
                    </mdc-select>
                  </div>
                  <div class="action-card-row">
                    <a
                      mdc-button
                      dense
                      (click)="
                        handleRemoveCommitment(
                          commitmentIndex,
                          commitments[commitmentIndex]
                        )
                      "
                      >Unrelated this Commitment</a
                    >
                  </div>
                </div>

                <div class="df-card__actions-footer">
                  <a mdc-button dense (click)="handleAddCommitment()">
                    Add Commitment
                  </a>
                </div>
              </mdc-card>
            </div>
          </div>

          <mdc-card-actions>
            <mdc-card-action-buttons>
              <button mdc-button mdcCardAction="button">Cancel</button>
              <button mdc-button mdcCardAction="button">Submit</button>
            </mdc-card-action-buttons>
          </mdc-card-actions>
        </mdc-card>
      </form>
    </div>
  </df-expander-panel>
</section>
