<section *ngIf="brief$ | async as brief">
  <df-expander-panel
    [title]="brief.title"
    [background]="background$ | async"
    expandable="true"
    expanded="true"
  >
    <ng-container panel-buttons
      ><df-button
        title="View Brief"
        icon="subject"
        [background]="background$ | async"
        (onClick)="handleView($event)"
      ></df-button>
    </ng-container>

    <table class="shadow--2dp">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>
            &nbsp;
          </th>
          <th [attr.colspan]="(activities$ | async)?.length">
            <div class="align-center activity-column">Activities</div>
          </th>
          <th [attr.colspan]="(documentStatusList$ | async)?.length">
            <div class="align-center status-column">By Status</div>
          </th>
          <th></th>
        </tr>
        <tr>
          <th class="lower_left">
            <!-- <button mdcIconButton [on]="false">
              <mdc-icon mdcIconOn>check_box</mdc-icon>
              <mdc-icon>check_box_outline_blank</mdc-icon>
            </button> -->
          </th>
          <th class="lower_left">
            <div class="column-user">
              User
            </div>
          </th>
          <th
            class="rotate activity-column"
            *ngFor="let s of (activities$ | async)"
          >
            <div>
              <span>{{ s.caption }}</span>
            </div>
          </th>
          <th
            class="rotate status-column"
            *ngFor="let s of (documentStatusList$ | async)"
          >
            <div>
              <span>{{ s.caption }}</span>
            </div>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let n of (notifications$ | async)">
        <td>
          <!-- <button mdcIconButton [on]="false">
            <mdc-icon mdcIconOn>check_box</mdc-icon>
            <mdc-icon>check_box_outline_blank</mdc-icon>
          </button> -->
        </td>
        <td>{{ n.name }}{{ n.id }}</td>
        <td
          style="text-align:center"
          class="activity-column"
          *ngFor="let s of (activities$ | async)"
        >
          <button mdcIconButton (click)="handleToggleSubscription(n, s.id, 'activity' )">
            <mdc-icon *ngIf="checked(n.activity, s.id)">check_box</mdc-icon>
            <mdc-icon *ngIf="!checked(n.activity, s.id)">check_box_outline_blank</mdc-icon>
          </button>
        </td>
        <td
          style="text-align:center"
          class="status-column"
          *ngFor="let s of (documentStatusList$ | async)"
        >
          <button mdcIconButton (click)="handleToggleSubscription(n, s.id, 'status')">
            <mdc-icon *ngIf="checked(n.status, s.id)">check_box</mdc-icon>
            <mdc-icon *ngIf="!checked(n.status, s.id)">check_box_outline_blank</mdc-icon>
          </button>
        </td>
      </tr>
    </table>
  </df-expander-panel>
</section>
