<df-expander-panel title="Permission" [expanded]="true" [expandable]="false">
  <ng-container panel-buttons>
    <df-button
      icon="group_add"
      title="Assign&nbsp;Group"
      (onClick)="onAddGroup.emit()"
    ></df-button>
  </ng-container>
</df-expander-panel>

<div class="programsadmin-layout__row">
  <digital-first-data-table
    [tableData]="tableData"
    [hasDeleteItemButton]="true"
    (onDeleteItem)="handleTableDeleteClicked($event)"
    (onCellClicked)="handleCellClicked($event)"
  >
  </digital-first-data-table>
</div>
