<div class="app-page">
  <div class="brief-layout">
    <nav *ngIf="(nodes$ | async) as nodes">
      <df-pack-navigator 
        [nodes]="nodes"
        (onSelect)="handleSelectNavigatorNode($event)"
        (onMoveNode)="handleToggleMoveNavigatorNode($event, 'Move')"
        (onToggleExpand)="handleToggleExpandNavigatorNode($event)"
      ></df-pack-navigator>
    </nav>
    <section *ngIf="(brief$ | async) as brief">
      <df-expander-panel
        title="Discussion"
        [background]="background$ | async"
        expanded="true"
      >
        <ng-container panel-buttons>
          <df-button
            title="Agency"
            icon="chat_bubble"
            [background]="background$ | async"
            (onClick)="handleSelectDiscussion(discussionTypes.Agency)"
          ></df-button>
          <df-button
            title="Office"
            icon="chat_bubble"
            [background]="background$ | async"
            (onClick)="handleSelectDiscussion(discussionTypes.Office)"
          ></df-button>
        </ng-container>

        <df-discussion
          [hostId]="brief.id"
          [comments]="comments$ | async"
          [activeComment]="activeComment$ | async"
          (onReplyToComment)="handleReplyToComment($event, 'onReplyToComment')"
          (onDeleteComment)="handleRemoveComment($event, 'onRemoveComment')"
          (onAddComment)="handleAddComment($event, 'onAddComment')"
        ></df-discussion>
      </df-expander-panel>
      <df-expander-panel
        [title]="brief.title"
        [background]="background$ | async"
        expandable="false"
        expanded="true"
      >
        <ng-container panel-buttons>
          <span class="brief-reference">{{ brief.reference }}</span>
          <df-button
            class="edit"
            title="Edit"
            icon="edit"
            [background]="background$ | async"
            (onClick)="handleEdit($event)"
          ></df-button>
          <df-button
            title="Subscribe"
            icon="add_alert"
            [background]="background$ | async"
            (onClick)="handleEdit($event)"
          ></df-button>
          <df-button
            title="Admin"
            icon="settings"
            [background]="background$ | async"
            (onClick)="handleEdit($event)"
          ></df-button>
        </ng-container>
        <div class="GhostWhite brief-document">
          <form
            [formGroup]="form"
            (ngSubmit)="handleSubmit($event)"
            autocomplete="off"
          >
            <df-status-picker
              [statuses]="documentStatusList$ | async"
              [formControlName]="'status'"
            >
            </df-status-picker>
            <div>
              <div class="brief-protective-marking">
                <strong
                  >{{ brief.securityClassification }} {{ brief.dLM }}</strong
                >
              </div>
            </div>
            <digital-first-brief-document

            ></digital-first-brief-document>
          </form>
        </div>
      </df-expander-panel>
    </section>
  </div>
</div>
