<div class="app-page">
    <section>
      <digital-first-page-title [title]="getTitle(commitment)">
        <digital-first-busy [busy]="formBusy"></digital-first-busy>
        <digital-first-navigation-item-button (onNavigate)="handleGoBack($event)"></digital-first-navigation-item-button>
      </digital-first-page-title>
  

      <div class="form-content" [ngClass]="{'busy' : busy}">
        <form [formGroup]="form" (ngSubmit)="handleSubmit($event)" autocomplete="off">
          <fieldset [attr.disabled]="busy ? '' : null">
            <input type="hidden" formControlName="id" />
      
            <div class="form-layout__row">
              <ng-select [items]="costingAgencies$ | async" bindValue="id" bindLabel="title" required placeholder="Costing Agency"
              formControlName="portfolio">
              </ng-select>

              <ng-select [items]="['Tax Revenue', 'Expense', 'Non-tax revenue']" required placeholder="Type of Revenue"
              formControlName="revenueType">
            </ng-select>
            </div>

            <div class="form-layout__row">
              <ngx-wig formControlName="description"></ngx-wig>
            </div>
      
            <div class="form-layout__row">
              <mdc-text-field formControlName="costing" label="Costing" type="text" placeholder="Enter whole AU ($) or zero for none" min="0" pattern="^\${0,1}(?!0\.00)[1-9]\d{0,2}(,\d{3})*(\.\d\d)?$" required></mdc-text-field>
            </div>

            <div class="form-layout__row-with-button">
              <button mdc-button mdcCardAction="button" type="submit" [disabled]="!form.valid">Save Costing</button>
            </div>
          </fieldset>
        </form>
      
      </div>


    </section>
  
  </div>
  