<digital-first-card-title [card]="card"></digital-first-card-title>
<canvas *ngIf="data"
  baseChart
  width="400"
  height="400"
  [datasets]="data?.chartData.datasets"
  [labels]="data?.chartData.labels"
  [options]="data?.chartOptions"
  [colors]="data?.chartColors"
  [legend]="data?.chartLegend"
  [chartType]="data?.chartType"
></canvas>
<digital-first-card-supporting-text
  [card]="card"
></digital-first-card-supporting-text>
<digital-first-card-actions [card]="card" (onAction)="onAction.emit($event)"></digital-first-card-actions>
<digital-first-card-menu
  [card]="card"
  [readOnly]="readOnly"
  [selected]="selected"
  (onEdit)="onEdit.emit($event)"
></digital-first-card-menu>