/* You can add global styles to this file, and also import other style files */
@import "../../../libs/df-theme/styles.scss";
@import "./scss/cards";

ngx-wig {
    flex-grow: 1;
    margin-left: .3em;
    margin-right: .3em;
}