<div *ngIf="role; else loading" class="app-page">
  <section>
    <df-expander-panel
      title="Role - {{ role.title }}"
      [expanded]="true"
      [expandable]="false"
    >
      <ng-container panel-buttons>
        <df-button
          icon="edit"
          title="Edit"
          (onClick)="handleEditRoles(role)"
        ></df-button>
        <df-button
          icon="delete"
          title="Delete"
          (onClick)="handleDeleteRole(role)"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <dl>
        <dt>
          Title:
        </dt>
        <dd>
          {{ role.title }}
        </dd>
        <dt>
          Description:
        </dt>
        <dd>
          {{ role.description }}
        </dd>
      </dl>
    </div>

    <df-expander-panel
      title="Operations"
      [expanded]="true"
      [expandable]="false"
    >
    </df-expander-panel>
    <div class="programsadmin-layout__row">
      <dl>
        <dt>All Agency Modifier:</dt>
        <dd>{{ role.allAgencyModifier }}</dd>
        <dt>Create Agency:</dt>
        <dd>{{ role.createAgency }}</dd>
        <dt>Create Program:</dt>
        <dd>{{ role.createProgram }}</dd>
        <dt>Create Project:</dt>
        <dd>{{ role.createProject }}</dd>
        <dt>Create Report:</dt>
        <dd>{{ role.createReport }}</dd>
        <dt>Create Statistic:</dt>
        <dd>{{ role.createStatistic }}</dd>
        <dt>Delete Agency:</dt>
        <dd>{{ role.deleteAgency }}</dd>
        <dt>Delete Program:</dt>
        <dd>{{ role.deleteProgram }}</dd>
        <dt>Delete Project:</dt>
        <dd>{{ role.deleteProject }}</dd>
        <dt>Delete Report:</dt>
        <dd>{{ role.deleteReport }}</dd>
        <dt>Delete Statistic:</dt>
        <dd>{{ role.deleteStatistic }}</dd>
        <dt>Manage Access Controls:</dt>
        <dd>{{ role.manageAccessControls }}</dd>
        <dt>Manage Api Keys:</dt>
        <dd>{{ role.manageApiKeys }}</dd>
        <dt>Manage Groups:</dt>
        <dd>{{ role.manageGroups }}</dd>
        <dt>Update Electorate Advice:</dt>
        <dd>{{ role.updateElectorateAdvice }}</dd>
      </dl>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
