<div class="app-page">
  <section>
    <digital-first-page-title title="Print Commitment" [background]="commitment?.party?.colour">
      <digital-first-print-page-button [background]="commitment?.party?.colour" (onPrintClick)="handlePrintClicked()"></digital-first-print-page-button>
      <digital-first-navigation-item-button [background]="commitment?.party?.colour" (onNavigate)="handleGoBack($event)"></digital-first-navigation-item-button>
    </digital-first-page-title>
    <div #htmlpdfwrapper class="app-print-wrapper">
        <digital-first-commitment-mad-lib [commitment]="commitment"></digital-first-commitment-mad-lib>
    </div>
  </section>
</div>