:host {
  width: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

agm-map {
  height: 60vh;
}

df-table {
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  min-height: 100px;
}
