<div *ngIf="(agencies$ | async) as agencies; else loading">
  <div class="page_title">
    <div class="reader-card-article__title page_title_text" mdcHeadline5>
      Edit program
    </div>
  </div>
  <div>
    <div class="app-page">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner ">
          <div class="mdc-layout-grid__cell--span-3"></div>
          <div class="mdc-layout-grid__cell--span-6 mdc-elevation--z9">
            <div class="form-content">
              <form (ngSubmit)="onSubmit()" [formGroup]="addProgramForm" autocomplete="off">
                <fieldset>
                  <h3 class="form-content__headline">Edit program</h3>
                  <div class="form-layout__row">
                    <mdc-text-field
                      [outlined]="true"
                      formControlName="programName"
                      label="Name"
                      type="text">
                    </mdc-text-field>
                  </div>
                  <div class="form-layout__row">
                    <mdc-select [outlined]="true"
                                formControlName="agencyId"
                                id="agency"
                                name="program"
                                placeholder="Agency"
                                >
                      <option value=""></option>
                      <option *ngFor="let agency of agencies" [value]="agency.id">{{agency.title}}
                      </option>
                    </mdc-select>
                  </div>
                  <div class="form-layout__row">
                    <mdc-text-field [outlined]="true" formControlName="externalId" label="External id"
                                    type="text"></mdc-text-field>
                  </div>
                  <div class="form-layout__row">
                    <mdc-textarea cols="8"
                                  formControlName="notes"
                                  id="notes"
                                  label="Notes"
                                  name="notes"
                                  rows="3"
                                  spellcheck="true">
                    </mdc-textarea>
                  </div>
                  <div class="form-layout__row-with-button">
                    <button [disabled]="addProgramForm.invalid || addProgramForm.pristine"
                            class="mdc-button ng-mdc-button--primary mdc-button--raised mdc-ripple-upgraded"
                            id="submit"
                            type="submit">Save
                    </button>
                    <button (click)="cancel()"
                            class="mdc-button ng-mdc-button--secondary mdc-button--raised mdc-ripple-upgraded"
                            id="cancel"
                            type="button">Cancel
                    </button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="mdc-layout-grid__cell--span-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  Loading...
</ng-template>
