<div class="app-page">
  <section> 
    <df-deck
      [allowMutate]="false"
      [cardTypes]="cardTypes$ | async"
      [cards]="deckItems$ | async" 
      [parent]="parent$ | async"
      [eligibleParents]="eligibleParents$ | async"
      [readOnly]="false"
      [selectedCard]="selectedCard"
      (onSubmitted)="handleSubmitted($event)"
      (onAction)="handleAction($event)"
      (onEdit)="handleEdit($event)"
      (onCancel)="handleCancel($event)"
    >
    </df-deck>
  </section>
</div>
