<div class="app-page">
  <section> 

    <df-expander-panel *ngIf="(parentDeckItem$ | async) as parentDeckItem" title=""  [expandable]="false" >
        <ng-container panel-buttons>
          <df-button title="{{stopBreak(parentDeckItem.title)}}" icon="arrow_back_ios" (onClick)="handleGoToParent(parentDeckItem)" ></df-button>
        </ng-container>
    </df-expander-panel>

    <digital-first-deck
      [cardTypes]="cardTypes$ | async"
      [selected]="selected$ | async" 
      [cards]="deckItems$ | async" 
      [briefs]="briefs$ | async"
      [parent]="parent$ | async"
      [eligibleParents]="eligibleParents$ | async"
      [readOnly]="false"
      (onEdit)="handleEdit($event)"
      (onCreateCard)="handleCreateCard($event)"
      (onSubmitted)="handleSubmitted($event)"
      (onCancelled)="handleCancelled($event)"
      (onAction)="handleAction($event)"
    >
    </digital-first-deck>
  </section>
</div>
