<div class="app-page">
  <section>
    <digital-first-page-title [title]="'Deck'">
      <digital-first-add-item-button
        icon="library_add"
        title="Add&nbsp;Item"
        (onAddItem)="handleAddItemDialog()"
      ></digital-first-add-item-button>
      <digital-first-navigation-item-button *ngIf="(grandParent$ | async) as gp" (onNavigate)="handleGoBack(gp)" [title]="gp.title"></digital-first-navigation-item-button>
    </digital-first-page-title>
    <df-deck [cards]="cards$ | async" [readOnly]="false" (onAction)="handleAction($event)" (onEdit)="handleEvent($event, 'onEdit')"></df-deck>
  </section>
</div>
