<digital-first-commitment-view-guard
  [operation]="getRight(userOperation$ | async)"
>
  <ng-container operation-type="read">
    <digital-first-page-title
      *ngIf="commitment"
      [title]="title"
      (onTitleClicked)="handleChangeExpanded(!expanded)"
    >
      <digital-first-date-format-button
        *ngIf="expanded"
        [timeFormat]="timeFormat"
        (onChangeDateFormat)="handleChangeDateFormat($event)"
      ></digital-first-date-format-button>
      <digital-first-expand-collapse-button
        [expanded]="expanded"
        (onChangeExpanded)="handleChangeExpanded(!expanded)"
      ></digital-first-expand-collapse-button>
    </digital-first-page-title>
  </ng-container>

  <ng-container operation-type="write">
    <digital-first-page-title
      *ngIf="commitment"
      [title]="title"
      (onTitleClicked)="handleChangeExpanded(!expanded)"
    >
      <digital-first-date-format-button
        *ngIf="expanded"
        [timeFormat]="timeFormat"
        (onChangeDateFormat)="handleChangeDateFormat($event)"
      ></digital-first-date-format-button>
      <digital-first-expand-collapse-button
        [expanded]="expanded"
        (onChangeExpanded)="handleChangeExpanded(!expanded)"
      ></digital-first-expand-collapse-button>
    </digital-first-page-title>
    <div *ngIf="expanded" class="related-content">
        <df-mega-tag-chooser
        [artifact]="commitment.id"
        [tags]="megaTags$ | async"
        (onSelectionChange)="handleToggleSelected($event)"
      ></df-mega-tag-chooser>
    </div>
  </ng-container>
</digital-first-commitment-view-guard>
