<div class="page_title">
  <div
    #discussion
    class="reader-card-article__title page_title_text"
    mdcHeadline5
  >
    Commitment
  </div>
</div>
<div class="layout-page">
  <section>
    <div class="app-layout__row--no-wrap">
      <div>
        <mdc-list-group subheader="Folders">
          <mdc-list twoLine avatar class="app-list--custom">
            <mdc-list-item *ngFor="let link of links" (click)="handleCommitmentNavigation(link)">
              <mdc-icon mdcListItemGraphic>{{link.icon}}</mdc-icon>
              <mdc-list-item-text [secondaryText]=" ">{{link.name}}</mdc-list-item-text>
            </mdc-list-item>
          </mdc-list>
        </mdc-list-group>
      </div>
      <div class="overview-outlet">
        <section>
  
          <div class="app-layout__row--no-wrap">
            <router-outlet></router-outlet>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>