<div class="app-page" *ngIf="statistic; else loading">
  <digital-first-page-title title="Statistic - {{ statistic.name }}">
    <digital-first-edit-item-button
      (onEditItem)="handleEditStatistic(statistic)"
    ></digital-first-edit-item-button>
    <digital-first-delete-item-button
      (onDeleteItem)="handleDeleteStatistic(statistic)"
    ></digital-first-delete-item-button>
  </digital-first-page-title>
  <p>
    TODO: display stuff
  </p>
  <digital-first-page-title title="Debug"></digital-first-page-title>
  <pre>{{ statistic | json }}</pre>
</div>
<ng-template #loading>
  Loading...
</ng-template>
