<div class="app-page" *ngIf="statistic; else loading">
  <digital-first-page-title title="Statistic - {{ statistic.name }}">
    <digital-first-edit-item-button
      (onEditItem)="handleEditStatistic(statistic)"
    ></digital-first-edit-item-button>
    <digital-first-delete-item-button
      [hasDeleteItemButton]="true" (onDeleteItem)="handleDeleteStatistic(statistic)"
    ></digital-first-delete-item-button>
  </digital-first-page-title>

  <div class="commitment-layout__row">
    <p>{{ statistic.agency.title }}</p>
    <p>{{ statistic.externalId }}</p>
  </div>

  <digital-first-permission
    [artifactId]="statisticId"
    [tableData]="permissionTableData"
    (onGroupClicked)="handleGroupPermissionGroupClicked($event)"
    (onPermissionClicked)="handleGroupPermissionChangeClicked($event)"
    (onDeleteClicked)="handleGroupPermissionDeleteClicked($event)"
    (onAddGroup)="handleOpenAddGroupDialog($event)"
  ></digital-first-permission>

  <digital-first-statistic-reports
    [artifactId]="statisticId"
    [tableData]="statisticReportTableData"
    (onDeleteClicked)="handleStatisticReportDeleteItemClicked($event)"
    (onCellClicked)="handleReportNavigation($event)"
  ></digital-first-statistic-reports>

  <digital-first-page-title title="Debug"></digital-first-page-title>
  <pre>{{ statistic | json }}</pre>
</div>
<ng-template #loading>
  Loading...
</ng-template>
