<div *ngIf="statistic; else loading" class="app-page">
  <digital-first-page-title
    title="Statistic - {{ statistic.name }}">
    <digital-first-edit-item-button
      (onEditItem)="handleEditStatistic(statistic)">
    </digital-first-edit-item-button>
    <digital-first-delete-item-button
      (onDeleteItem)="handleDeleteStatistic(statistic)">
    </digital-first-delete-item-button>
  </digital-first-page-title>

  <div class="programsadmin-layout__row">
    <p>{{ statistic.agency.title }}</p>
    <p>{{ statistic.externalId }}</p>
  </div>

  <digital-first-permission
    (onAddGroup)="handleOpenAddGroupDialog($event)"
    (onDeleteClicked)="handleGroupPermissionDeleteClicked($event)"
    (onGroupClicked)="handleGroupPermissionGroupClicked($event)"
    (onPermissionClicked)="handleGroupPermissionChangeClicked($event)"
    [artifactId]="statisticId"
    [tableData]="permissionTableData">
  </digital-first-permission>

  <digital-first-statistic-reports
    (onCellClicked)="handleReportNavigation($event)"
    (onDeleteClicked)="handleStatisticReportDeleteItemClicked($event)"
    [artifactId]="statisticId"
    [tableData]="statisticReportTableData">
  </digital-first-statistic-reports>
</div>
<ng-template #loading>
  Loading...
</ng-template>
