<digital-first-card-title [card]="card"></digital-first-card-title>
<div class="df-card__media">
  <img class="deck-image" src="{{ card?.media?.url }}" border="0" alt="" />
</div>

<digital-first-card-supporting-text
  [card]="card"
></digital-first-card-supporting-text>
<digital-first-card-actions [card]="card" (onAction)="onAction.emit($event)"></digital-first-card-actions>
<digital-first-card-menu
  [card]="card"
  [readOnly]="readOnly"
  [selected]="selected"
  (onEdit)="onEdit.emit($event)"
></digital-first-card-menu>