<div class="app-page" *ngIf="program; else loading">
  <section>
    <digital-first-page-title title="Program - {{ program.name }}">
        <digital-first-edit-item-button
        (onEditItem)="handleEditProgrm(program)"
      ></digital-first-edit-item-button>
      <digital-first-delete-item-button
        (onDeleteItem)="handleDeleteProgram(program)"
      ></digital-first-delete-item-button>
    </digital-first-page-title>

    <div class="commitment-layout__row">
      <p>{{ program.agency.title }}</p>
      <p>{{ program.notes }}</p>
      <p>{{ program.externalId }}</p>
    </div>

    <digital-first-permission
      [artifactId]="programId"
      [tableData]="permissionTableData"
      (onGroupClicked)="handleGroupPermissionGroupClicked($event)"
      (onPermissionClicked)="handleGroupPermissionChangeClicked($event)"
      (onDeleteClicked)="handleGroupPermissionDeleteClicked($event)"
      (onAddGroup)="handleOpenAddGroupDialog($event)"
    ></digital-first-permission>

    <digital-first-program-reports
      [artifactId]="programId"
      [tableData]="programReportTableData"
      (onDeleteClicked)="handleProgramReportDeleteItemClicked($event)"
      (onAddItemClicked)="handleProgramReportAddItemDialog($event)"
      (onCellClicked)="handleReportNavigation($event)"
    ></digital-first-program-reports>

    <!--<button  title="add report"-->
    <!--(click)="add(report)">+</button>-->

    <!--<mdc-list>-->
    <!--<mdc-list-item *ngFor="let report of program.reports">-->
    <!--{{report.name}} {{report.notes}}-->
    <!--<button  title="delete report"-->
    <!--(click)="delete(report)">x</button>-->
    <!--</mdc-list-item>-->
    <!--</mdc-list>-->

    <digital-first-page-title title="Debug"></digital-first-page-title>
    <pre>{{ program | json }}</pre>

  </section>
</div>
