<div *ngIf="(programs$ | async) as program; else loading">
  <div class="page_title">
    <div class="reader-card-article__title page_title_text" mdcHeadline5>Program - {{program.name}}</div>

    <div>
      <button mdcIconButton title="edit program"
              (click)="edit(program)">
        <mdc-icon>edit</mdc-icon>
      </button>
    </div>
    <div>
      <button mdcIconButton title="delete program"
              (click)="deleteProgram(program)">
        <mdc-icon>delete</mdc-icon>
      </button>
    </div>
  </div>


  {{program.agency.title}}

  <h3>Notes</h3>
  <p>
    {{program.notes}}
  </p>

  <h3>External Id</h3>
  <p>
    {{program.externalId}}
  </p>

  <h3>Permissions</h3>
  <ul>
    <li *ngFor="let acl of program.accessControlList">
      <ul>
        <li *ngFor="let ace of acl.accessControlEntries">
          {{ace.rights}}
          <ul>
            <li *ngFor="let group of ace.group">
              {{group.title}}
              <button title="remove permission for group" (click)="removeGroup(group, acl)">x</button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <h3>Reports</h3>

  <ul>
    <li *ngFor="let report of program.reports">
      {{report.name}} {{report.notes}}
      <ul>
        <li *ngFor="let acl of report.accessControlList">
          <ul>
            <li *ngFor="let ace of acl.accessControlEntries">
              {{ace.rights}}
              <ul>
                <li *ngFor="let group of ace.group">
                  {{group.title}}
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>

  <!--<button  title="add report"-->
  <!--(click)="add(report)">+</button>-->

  <!--<mdc-list>-->
  <!--<mdc-list-item *ngFor="let report of program.reports">-->
  <!--{{report.name}} {{report.notes}}-->
  <!--<button  title="delete report"-->
  <!--(click)="delete(report)">x</button>-->
  <!--</mdc-list-item>-->
  <!--</mdc-list>-->


  <p>{{program | json}}</p>
</div>

