<div *ngIf="program; else loading" class="app-page">
  <section>
    <df-expander-panel
      title="Program - {{ program.name }}"
      [expanded]="true"
      [expandable]="false"
    >
      <ng-container panel-buttons>
        <df-button
          icon="edit"
          title="Edit"
          (onClick)="handleEditProgram(program)"
        ></df-button>
        <df-button
          icon="delete"
          title="Delete"
          (onClick)="handleDeleteProgram(program)"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <dl>
        <dt>
          Agency:
        </dt>
        <dd>
          {{ program.agency.title }}
        </dd>
        <dt>
          Notes:
        </dt>
        <dd>
          {{ program.notes }}
        </dd>
        <dt>
          External id:
        </dt>
        <dd>
          {{ program.externalId }}
        </dd>
      </dl>
    </div>

    <digital-first-permission
      (onAddGroup)="handleOpenAddGroupDialog($event)"
      (onDeleteClicked)="handleGroupPermissionDeleteClicked($event)"
      (onGroupClicked)="handleGroupPermissionGroupClicked($event)"
      (onPermissionClicked)="handleGroupPermissionChangeClicked($event)"
      [artifactId]="programId"
      [rows]="permissionRows"
      [noDataMessage]="noDataMessage"
    ></digital-first-permission>

    <digital-first-program-reports
      (onCellClicked)="handleReportNavigation($event)"
      (onDeleteClicked)="handleProgramReportDeleteItemClicked($event)"
      [reportsTableData]="reportsTableData"
    ></digital-first-program-reports>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
