<div class="app-page" *ngIf="user; else loading">
  <df-expander-panel
    title="User - {{ user.emailAddress }}"
    [expanded]="true"
    [expandable]="false"
  >
    <ng-container panel-buttons>
      <df-button
        icon="edit"
        title="Edit"
        (onClick)="handleEditUser(user)"
      ></df-button>
      <df-button
        icon="delete"
        title="Delete"
        (onClick)="handleDeleteUser(user)"
      ></df-button>
    </ng-container>
  </df-expander-panel>
  <div class="programsadmin-layout__row">
    <p>{{ user.agency.title }}</p>
  </div>

  <digital-first-user-program-access [programAccessRows]="programAccessRows">
  </digital-first-user-program-access>

  <digital-first-user-report-access [reportAccessRows]="reportAccessRows">
  </digital-first-user-report-access>

  <digital-first-user-statistic-access
    [statisticAccessRows]="statisticAccessRows"
  >
  </digital-first-user-statistic-access>

  <digital-first-user-statistic-report-access
    [statisticReportAccessRows]="statisticReportAccessRows"
  >
  </digital-first-user-statistic-report-access>

  <section>
    <df-expander-panel title="API Keys" [expandable]="false">
      <ng-container panel-buttons>
        <df-button
          icon="add"
          title="Add"
          (onClick)="handleAddApiKey()"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <df-data-table
        [rows]="apiKeysRows"
        [columns]="apiKeysColumns"
        [count]="apiKeysRows.length"
        [hasDelete]="true"
        [limit]="defaultPageLength"
        (onDelete)="handleDeleteApiKey($event)"
      >
      </df-data-table>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
