<div class="app-page" *ngIf="user; else loading">
  <digital-first-page-title title="User - {{ user.emailAddress }}">
    <digital-first-edit-item-button
      (onEditItem)="handleEditUser(user)"
    ></digital-first-edit-item-button>
    <digital-first-delete-item-button
      (onDeleteItem)="handleDeleteUser(user)"
    ></digital-first-delete-item-button>
  </digital-first-page-title>
  <div class="programsadmin-layout__row">
    <p>{{ user.agency.title }}</p>
  </div>

  <digital-first-user-program-access [programAccessRows]="programAccessRows">
  </digital-first-user-program-access>

  <digital-first-user-report-access [reportAccessRows]="reportAccessRows">
  </digital-first-user-report-access>

  <digital-first-user-statistic-access
    [statisticAccessRows]="statisticAccessRows"
  >
  </digital-first-user-statistic-access>

  <digital-first-user-statistic-report-access
    [statisticReportAccessRows]="statisticReportAccessRows"
  >
  </digital-first-user-statistic-report-access>

  <section>
    <digital-first-page-title title="API Keys">
      <digital-first-add-item-button
        (onAddItem)="handleAddApiKey()"
      ></digital-first-add-item-button>
    </digital-first-page-title>

    <div class="programsadmin-layout__row">
      <digital-first-data-table
        [tableData]="apiKeysTableData"
        [hasDeleteItemButton]="true"
        (onDeleteItem)="handleDeleteApiKey($event)"
      >
      </digital-first-data-table>
    </div>
  </section>
</div>
<ng-template #loading>
  Loading...
</ng-template>
