<div *ngIf="user; else loading" class="app-page">
  <df-expander-panel
    [expandable]="false"
    [expanded]="true"
    title="User - {{ user.emailAddress }}"
  >
    <ng-container panel-buttons>
      <df-button
        (onClick)="handleEditUser(user)"
        icon="edit"
        title="Edit"
      ></df-button>
      <df-button
        (onClick)="handleDeleteUser(user)"
        icon="delete"
        title="Delete"
      ></df-button>
    </ng-container>
  </df-expander-panel>
  <div class="programsadmin-layout__row">
    <dl>
      <dt>
        Agency:
      </dt>
      <dd>
        {{ user.agency.title }}
      </dd>
    </dl>
  </div>

  <section>
    <df-expander-panel [expandable]="false" title="API Keys">
      <ng-container panel-buttons>
        <df-button
          (onClick)="handleAddApiKey()"
          icon="add"
          title="Add"
        ></df-button>
      </ng-container>
    </df-expander-panel>

    <div class="programsadmin-layout__row">
      <df-data-table
        (onDelete)="handleDisableApiKey($event)"
        [columns]="apiKeysColumns"
        [count]="apiKeysRows.length"
        [hasDelete]="false"
        [limit]="defaultPageLength"
        [rows]="apiKeysRows"
      >
      </df-data-table>
    </div>
  </section>

  <digital-first-user-program-access [programAccessRows]="programAccessRows">
  </digital-first-user-program-access>

  <digital-first-user-report-access [reportAccessRows]="reportAccessRows">
  </digital-first-user-report-access>

  <digital-first-user-statistic-access
    [statisticAccessRows]="statisticAccessRows"
  >
  </digital-first-user-statistic-access>

  <digital-first-user-statistic-report-access
    [statisticReportAccessRows]="statisticReportAccessRows"
  >
  </digital-first-user-statistic-report-access>
</div>
<ng-template #loading>
  Loading...
</ng-template>

<ng-template #disableTemplate let-row="row" let-value="value">
  <df-button
    *ngIf="!value"
    icon="highlight_off"
    title="Disable"
    (onClick)="handleDisableApiKey($event, row)"
  ></df-button>
</ng-template>
