:host {
  width: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .app-page {
    padding-left: 0px;
  }

  .app-print-wrapper {
    padding: 15px;
  }

  p {
    margin: 12px 10px;
  }
}
