<section class="deck df-grid section--center">
  <ng-container *ngFor="let card of cards">
    <div
      *ngIf="selectedCard?.id === card.id"
      class="df-card df-cell df-cell--{{ card?.size }}-col df-shadow--4dp"
    >
      <digital-first-edit-card
        [selected]="selectedCard"
        (onSubmitted)="onSubmitted.emit($event)"
        (onCancelled)="handleCancelEdit($event)"
      ></digital-first-edit-card>
    </div>

    <div
      *ngIf="selectedCard?.id !== card.id"
      [ngSwitch]="card.cardType"
      class="df-card df-cell df-cell--{{ card?.size }}-col df-shadow--4dp"
    >
      <ng-container *ngSwitchCase="cardType.Image">
        <digital-first-image-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-image-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Parent">
        <digital-first-parent-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-parent-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Chart">
        <digital-first-chart-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-chart-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Markdown">
        <digital-first-markdown-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-markdown-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Embed">
        <digital-first-embed-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-embed-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Audio">
        <digital-first-audio-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-audio-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Video">
        <digital-first-video-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-video-card>
      </ng-container>
      <ng-container *ngSwitchCase="cardType.Refiner">
        <digital-first-refiner-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-refiner-card>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <digital-first-standard-card
          [card]="card"
          [readOnly]="readOnly"
          [selected]="selectedCard"
          (onEdit)="cardEdit.next($event)"
        >
        </digital-first-standard-card>
      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="!selectedCard && !readOnly" class="df-card__supporting-text">
    <button mdc-button dense (click)="handleAddNewCard()">
      Create New Card
    </button>
  </div>
</section>
