:host {
    width: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
  }
  
  .overview-outlet {
      width: 100%;
  }

  digital-first-metadata-refiner {
    min-width: 280px;
  }
