:host {
  width: 100%;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.overview-outlet {
  width: 100%;
}

digital-first-metadata-refiner {
  min-width: 280px;
}

.mdc-list {
  padding: 10px;
  .mdc-list-item {
    margin: 0;
    display: inline-block;
    height: auto;
    font-weight: normal;
    font-size: 0.8rem;
    .material-icons {
      vertical-align: middle;
    }
  }
}
.electrate-drawer {
  width: calc(50vw);
  height: calc(100vh - 80px);
  left: 280px;
  z-index: 10000000;
}
mdc-list-group div {
  padding-left: 10px;
}
@media (max-width: 1366px) {
  .mdc-list-item {
    width: 12%;
  }
}

@media (min-width: 1367px) {
  .mdc-list-item {
    width: 9%;
  }
}
