<div class="indent">
  <ng-container *ngIf="commitment$ | async as commitment">
    <h1>{{ commitment?.title }}</h1>
    <p>
      Status: <strong>{{ commitment.status }}</strong
      >.
    </p>
    <p>
      Responsible Portfolio: <strong>{{ commitment.portfolio }}</strong
      >.
    </p>
    <!-- <p *ngIf="relatedPortfolios?.length > 0">
    Related Portfolio<span *ngIf="relatedPortfolios?.length > 1"
      >s</span
    >:
    <ng-container
      *ngFor="let rp of relatedPortfolios; index as index; last as last; first as first">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span>
      </ng-container><strong>{{ rp?.title }}</strong>

    </ng-container>.
  </p> -->
    <p>
      Announced by the
      <strong>{{ commitment.announcedBy }}</strong> of
      <strong>{{ commitment.politicalParty }}</strong> on
      <strong>{{ commitment.date | amDateFormat: 'LL' }}</strong
      >.
    </p>

    <p>
      This is
      <strong>{{ getIndefiniteArticle(commitment.commitmentTyp) }}</strong>
      commitment
      <ng-container *ngIf="!commitment?.cost">
        with <strong>no</strong> specified party funding</ng-container
      >
      <ng-container *ngIf="commitment.cost"
        >that the party announced requires funding of
        <strong>{{ commitment.cost }}</strong></ng-container
      >. It was announced via
      <strong>{{ getIndefiniteArticle(commitment.announcementType) }}</strong
      >.
    </p>

    <p *ngIf="commitment.electorates as electorates">
      Delivery Location<span *ngIf="electorates?.length > 1">s</span>:
      <ng-container
        *ngFor="
          let location of electorates;
          index as index;
          last as last;
          first as first
        "
      >
        <ng-container *ngIf="!first">
          <span *ngIf="last"> and </span>
          <span *ngIf="!last">, </span> </ng-container
        ><strong>{{ location?.title }}</strong> </ng-container
      >.
    </p>

    <!-- <p *ngIf="commitment.mapPoint as mapPoints">
    Delivery Address<span *ngIf="mapPoints?.length > 1">es</span>:
    <ng-container *ngFor="
        let mapPoint of mapPoints;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ mapPoint?.address }}</strong>
    </ng-container>.
  </p> -->

    <p>
      Critical date: <strong> {{ commitment.criticalDate }}</strong
      >.
    </p>
    <!-- <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
      <ng-container operation-type="read">
        <p *ngIf="commitment.PMCHandlingAdvice">
          PM&C advice handler: <strong>{{ commitment.PMCHandlingAdvice }}</strong>
        </p>
      </ng-container>
    </digital-first-commitment-view-guard> -->

    <!-- <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
    <ng-container operation-type="read">
      <p *ngIf="commitment.PMOHandlingAdvice">
        PMO advice handler: <strong>{{ commitment.PMOHandlingAdvice }}</strong>
      </p>
    </ng-container>
  </digital-first-commitment-view-guard> -->

    <!-- <p *ngIf="relatedPackages$?.length > 0">
    Related Package<span *ngIf="relatedPackages$?.length > 1">s</span>:
    <ng-container *ngFor="
        let rp of relatedPackages$;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ rp?.title }}</strong>
    </ng-container>.
  </p> -->

    <ng-container *ngIf="commitment.description">
      <hr />
      <div [innerHtml]="commitment?.description | safeHtml"></div>
    </ng-container>
    <hr />

    <!-- <div id="selectors">
      <div class="selection">
    <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
      <ng-container operation-type="write">
          <p>PMC Handling Advice</p>
          <ng-select  
          [items]="handlingAdvices$ | async" 
          bindLabel="label"
          autofocus
          [(ngModel)]="pmcHandlingAdvice"
          (change)="onPMCChange($event)">
          </ng-select>
      </ng-container>
    </digital-first-commitment-view-guard>
  </div>
  <div class="selection">
    <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
        <ng-container operation-type="write">
            <p>PMO Handling Advice</p>
            <ng-select [dropdownPosition]="'top'" 
            [items]="handlingAdvices$ | async" 
            bindLabel="label"
            autofocus
            [(ngModel)]="pmoHandlingAdvice"
            (change)="onPMOChange($event)">
            </ng-select>
        </ng-container>
      </digital-first-commitment-view-guard>
    </div>
  </div>

  <div id="selectors">
    <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
      <ng-container operation-type="hide">
      </ng-container>
    </digital-first-commitment-view-guard>
    <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
        <ng-container operation-type="hide">
        </ng-container>
    </digital-first-commitment-view-guard>
  </div>


    <div id="selectors">
        <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
          <ng-container operation-type="hide">
          </ng-container>
        </digital-first-commitment-view-guard>
        <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
            <ng-container operation-type="hide">
            </ng-container>
        </digital-first-commitment-view-guard>
      </div>
   -->
  </ng-container>
</div>

<ng-template #loading>
  Loading...
</ng-template>
