<ng-container *ngIf="commitment">
  <h1>{{ commitment?.title }}</h1>
  <p>
    Status: <strong>{{ commitment.status }}</strong>.
  </p>
  <p>
    Responsible Portfolio: <strong>{{ commitment.portfolio }}</strong>.
  </p>
  <!-- <p *ngIf="relatedPortfolios?.length > 0">
    Related Portfolio<span *ngIf="relatedPortfolios?.length > 1"
      >s</span
    >:
    <ng-container
      *ngFor="let rp of relatedPortfolios; index as index; last as last; first as first">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span>
      </ng-container><strong>{{ rp?.title }}</strong>

    </ng-container>.
  </p> -->
  <p>
    Announced by the
    <strong>{{ commitment.announcedBy }}</strong> of
    <strong>{{ commitment.politicalParty }}</strong> on
    <strong>{{ commitment.date | amDateFormat: 'LL' }}</strong>.
  </p>

  <p>
    This is
    <strong>{{ getIndefiniteArticle(commitment.commitmentTyp) }}</strong>
    commitment
    <ng-container *ngIf="!commitment?.cost">
      with <strong>no</strong> specified party funding</ng-container>
    <ng-container *ngIf="commitment.cost">that the party announced requires funding of
      <strong>{{ commitment.cost }}</strong></ng-container>. It was announced via
    <strong>{{ getIndefiniteArticle(commitment.announcementType) }}</strong>.
  </p>

  <p *ngIf="(electorate$ | async)?.length > 0">
    Delivery Location<span *ngIf="(electorate$ | async)?.length > 1">s</span>:
    <ng-container *ngFor="
        let location of electorate$ | async;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ location?.title }}</strong>
    </ng-container>.
  </p>

  <p *ngIf="(mapPoint$ | async)?.length > 0">
    Delivery Address<span *ngIf="(mapPoint$ | async)?.length > 1">es</span>:
    <ng-container *ngFor="
        let mapPoint of mapPoint$ | async;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ mapPoint?.address }}</strong>
    </ng-container>.
  </p>

  <p>
    Critical date: <strong> {{ commitment.criticalDate }}</strong>.
  </p>

  <p *ngIf="commitment.PMOHandlingAdvice">
      PMO advice handler: <strong>{{ commitment.PMOHandlingAdvice }}</strong>
  </p>

  <p *ngIf="commitment.PMCHandlingAdvice">
      PM&C advice handler: <strong>{{ commitment.PMCHandlingAdvice }}</strong>
  </p>


  <p *ngIf="relatedPackages$?.length > 0">
    Related Package<span *ngIf="relatedPackages$?.length > 1">s</span>:
    <ng-container *ngFor="
        let rp of relatedPackages$;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ rp?.title }}</strong>
    </ng-container>.
  </p>

  <ng-container *ngIf="commitment.description">
    <hr />
    <div [innerHtml]="commitment?.description | safeHtml"></div>
  </ng-container>
  <ng-container>
    <hr />
    <div id="selectors">
      <div class="selection">
      <p>PM&C Handling Advice</p>
        <ng-select [dropdownPosition]="'top'"  [items]="pmcitems"
          (change)="onPMCChange($event)">
        </ng-select>
      </div>
      <div class="selection">
        <p>PMO Handling Advice</p>
        <ng-select [dropdownPosition]="'top'"  [items]="pmoitems"
          (change)="onPMOChange($event)">
        </ng-select>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-template #loading>
  Loading...
</ng-template>
