:host{
  overflow: auto;
  overflow-y: auto;
  height: 100vh;
}

dt {
  margin: 20px;
}

.indent{
  margin-left: 2.5em;
}

#selectors
{
    display: table;
    width: 100%;
}
.selection
{
    display: table-cell;
}
