:host {
  overflow-block: auto;
  height: 100%;
}

dt {
  margin: 20px;
}

.indent{
  margin-left: 2.5em;
}

#selectors
{
    display: table;
    width: 100%;
}
.selection
{
    display: table-cell;
}
