<div class="indent">
  <ng-container *ngIf="commitment$ | async as commitment">
    <h1>{{ commitment?.title }}</h1>
    <p>
      Responsible Portfolio: <strong>{{ commitment.portfolio }}</strong>.
    </p>
    <!-- <p *ngIf="relatedPortfolios?.length > 0">
    Related Portfolio<span *ngIf="relatedPortfolios?.length > 1"
      >s</span
    >:
    <ng-container
      *ngFor="let rp of relatedPortfolios; index as index; last as last; first as first">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span>
      </ng-container><strong>{{ rp?.title }}</strong>

    </ng-container>.
  </p> -->
    <ng-container *ngIf="!commitment.announcedBy">
      <p>
        Announced on behalf of the
        <strong>{{ commitment.politicalParty }}</strong> on
        <strong>{{ commitment.date | amDateFormat: 'LL' }}</strong>.
      </p>
    </ng-container>
    <ng-container *ngIf="commitment.announcedBy">
      <p>
        Announced on behalf of the
        <strong>{{ commitment.politicalParty }}</strong> on
        <strong>{{ commitment.date | amDateFormat: 'LL' }}</strong> by <strong>{{ commitment.announcedBy }}</strong>.
      </p>
    </ng-container>
    <p>
      This is
      {{ getIndefiniteArticle(commitment.commitmentType) }}<strong>{{ commitment.commitmentType }}</strong>
      commitment
      <ng-container *ngIf="!commitment?.cost">
        with <strong>no</strong> specified party funding</ng-container>
      <ng-container *ngIf="commitment.cost">that the party announced requiring funding of
        <strong>{{ commitment.cost }}</strong></ng-container>. It was announced via
      {{ getIndefiniteArticle(commitment.announcementType) }} <strong>{{ commitment.announcementType }}</strong>.
    </p>

    <p *ngIf="commitment.electorates as electorates">
      Delivery Location<span *ngIf="electorates?.length > 1">s</span>:
      <ng-container *ngFor="
          let location of electorates;
          index as index;
          last as last;
          first as first
        ">
        <ng-container *ngIf="!first">
          <span *ngIf="last"> and </span>
          <span *ngIf="!last">, </span> </ng-container><strong>{{ location?.title }}</strong>
      </ng-container>.
    </p>

    <!-- <p *ngIf="commitment.mapPoint as mapPoints">
    Delivery Address<span *ngIf="mapPoints?.length > 1">es</span>:
    <ng-container *ngFor="
        let mapPoint of mapPoints;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ mapPoint?.address }}</strong>
    </ng-container>.
  </p> -->

    <p>
      Critical date: <strong> {{ commitment.criticalDate }}</strong>.
    </p>
    <p *ngIf="commitment.pmcHandlingAdvice && commitment.pmcHandlingAdvice.label !== ''">
      PM&C advice handling by <strong>{{ commitment.pmcHandlingAdvice.label }}</strong>
    </p>

    <p *ngIf="commitment.pmoHandlingAdvice && commitment.pmoHandlingAdvice.label !== ''">
      PMO advice handling by <strong>{{ commitment.pmoHandlingAdvice.label }}</strong>
    </p>

    <!-- <p *ngIf="relatedPackages$?.length > 0">
    Related Package<span *ngIf="relatedPackages$?.length > 1">s</span>:
    <ng-container *ngFor="
        let rp of relatedPackages$;
        index as index;
        last as last;
        first as first
      ">
      <ng-container *ngIf="!first">
        <span *ngIf="last"> and </span>
        <span *ngIf="!last">, </span> </ng-container><strong>{{ rp?.title }}</strong>
    </ng-container>.
  </p> -->

    <ng-container *ngIf="commitment.description">
      <hr />
      <div class="parent">
      <div [innerHtml]="commitment?.description | safeHtml" class="child"></div>
    </div>
    </ng-container>
    <hr />

    <div id="selectors">
      <div class="selection">
        <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
          <ng-container operation-type="write">
            <p>PMC Handling Advice</p>
            <ng-select [items]="handlingAdvices$ | async" bindLabel="label" bindValue="value" autofocus
              [ngModel]="commitment.pmcHandlingAdvice.value" (change)="onPMCChange($event)">
            </ng-select>
          </ng-container>
        </digital-first-commitment-view-guard>
      </div>

      <div class="selection">
        <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
          <ng-container operation-type="write">
            <p>PMO Handling Advice</p>
            <ng-select [items]="handlingAdvices$ | async" bindLabel="label" bindValue="value" autofocus
              [ngModel]="commitment.pmoHandlingAdvice.value" (change)="onPMOChange($event)">
            </ng-select>
          </ng-container>
        </digital-first-commitment-view-guard>
      </div>
    </div>

    <div id="selectors">
      <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
        <ng-container operation-type="hide">
        </ng-container>
      </digital-first-commitment-view-guard>
      <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
        <ng-container operation-type="hide">
        </ng-container>
      </digital-first-commitment-view-guard>
    </div>


    <div id="selectors">
      <digital-first-commitment-view-guard [operation]="getPMORight(userOperation$ | async)">
        <ng-container operation-type="hide">
        </ng-container>
      </digital-first-commitment-view-guard>
      <digital-first-commitment-view-guard [operation]="getPMCRight(userOperation$ | async)">
        <ng-container operation-type="hide">
        </ng-container>
      </digital-first-commitment-view-guard>
    </div>

  </ng-container>
</div>

<ng-template #loading>
  Loading...
</ng-template>