<div class="form-content" [ngClass]="{'busy' : busy}">
  <form [formGroup]="form" (ngSubmit)="handleSubmit($event)" autocomplete="off">
    <fieldset [attr.disabled]="busy ? '' : null">
      <input type="hidden" formControlName="id" />
      <input type="hidden" formControlName="location" />

      <div class="form-layout__row">
        <mdc-text-field formControlName="title" label="Title" required [helperText]="titleFieldInputHelper" ></mdc-text-field>
      </div>

      <div class="form-layout__row">
        <ngx-wig formControlName="description"></ngx-wig>
      </div>

      <h3 class="form-content__headline">Political</h3>
      <div class="form-layout__row">

        <ng-select [items]="whoAnnouncedTypes" bindValue="id" bindLabel="title" placeholder="Who Announced"
          formControlName="whoAnnouncedType" >
        </ng-select>


        <mdc-text-field formControlName="date" label="Date" type="date" required ></mdc-text-field>

        <ng-select [items]="announcementTypes" bindValue="id" bindLabel="title" placeholder="Type of Announcement"
          formControlName="announcementType" >
        </ng-select>
      </div>
      <div class="form-layout__row">

        <ng-select [items]="parties" bindValue="id" bindLabel="title" placeholder="Party" formControlName="party" >
        </ng-select>

        <ng-select [items]="commitmentTypes" bindValue="id" bindLabel="title" placeholder="Type of Commitment"
          formControlName="commitmentType" >
        </ng-select>

      </div>

      <h3 class="form-content__headline">Responsibility &amp; Costings</h3>
      <div class="form-layout__row">
        <ng-select [items]="portfolios" bindValue="id" bindLabel="title" placeholder="Responsible Portfolio" formControlName="portfolio" >
        </ng-select>

      </div>
      <div class="form-layout__row">
        <mdc-text-field formControlName="cost" label="Cost" type="number" min="0.00" max="1000000000000.00" step="0.01"
          required ></mdc-text-field>
      </div>

      <!-- <div class="form-layout__row-with-button">
        <button mdc-button mdcCardAction="button" type="submit" [disabled]="!form.valid">Submit</button>
      </div> -->
    </fieldset>
  </form>

</div>