<div class="form-content" [ngClass]="{'busy' : busy}">
  <form [formGroup]="form" (ngSubmit)="handleSubmit($event)">
    <fieldset [attr.disabled]="busy ? '' : null">
      <input type="hidden" formControlName="id" />

      <div class="form-layout__row">
        <mdc-text-field formControlName="title" label="Title" required outlined [helperText]="titleFieldInputHelper"
          (change)="handleChange($event)"></mdc-text-field>
      </div>
      <div class="form-layout__row">
        <mdc-select placeholder="Location" formControlName="location" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let location of locations" [value]="location.id">
            {{location.title}}
          </option>
        </mdc-select>
      </div>
      <div class="form-layout__row">
        <mdc-textarea formControlName="description" label="Description" required outlined (change)="handleChange($event)"
          rows="8"></mdc-textarea>
      </div>
      <div class="form-layout__row">
        <ngx-wig [content]="description" [buttons]="'bold, italic'"></ngx-wig>
      </div>

      <h3 class="form-content__headline">Political</h3>
      <div class="form-layout__row">
        <mdc-select placeholder="Who Announced" formControlName="whoAnnouncedType" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let whoAnnouncedType of whoAnnouncedTypes" [value]="whoAnnouncedType.id">
            {{whoAnnouncedType.title}}
          </option>
        </mdc-select>
        <mdc-text-field formControlName="date" label="Date" type="date" required outlined (change)="handleChange($event)"></mdc-text-field>
        <mdc-select placeholder="Type of Announcement" formControlName="announcementType" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let announcementType of announcementTypes" [value]="announcementType.id">
            {{announcementType.title}}
          </option>
        </mdc-select>
      </div>
      <div class="form-layout__row">
        <mdc-select placeholder="Party" formControlName="party" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let party of parties" [value]="party.id">
            {{party.title}}
          </option>
        </mdc-select>
        <mdc-select placeholder="Type of Commitment" formControlName="commitmentType" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let commitmentType of commitmentTypes" [value]="commitmentType.id">
            {{commitmentType.title}}
          </option>
        </mdc-select>

      </div>

      <h3 class="form-content__headline">Responsibility &amp; Costings</h3>
      <div class="form-layout__row">

        <mdc-select placeholder="Type of Portfolio" formControlName="portfolio" outlined (change)="handleChange($event)">
          <option [value]="null"></option>
          <option *ngFor="let portfolio of portfolios" [value]="portfolio.id">
            {{portfolio.title}}
          </option>
        </mdc-select>
      </div>
      <div class="form-layout__row">
        <mdc-text-field formControlName="cost" label="Cost" type="number" min="0.00" max="1000000000000.00" step="0.01"
          required outlined (change)="handleChange($event)"></mdc-text-field>
      </div>

      <div class="form-layout__row-with-button">
        <button mdc-button mdcCardAction="button" (click)="onReset($event)">Reset</button>
        <button mdc-button mdcCardAction="button" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </fieldset>
  </form>

</div>